[2017-06-03 12:38] subsystem7 opened #1 "Noto Sans for English Toolbar titles (Not Noto Sans Tibetan)"
This will work better than Noto for English, centering properly.

[2017-06-03 15:25] eroux commented on #1
can you provide a small before/after example please? I'm not sure what English Toolbar titles are, nor why this change pops up

[2017-06-03 15:30] eroux commented on #1
(pinging @tfrere)

[2017-06-04 23:31] subsystem7 opened #2 "Search Spinner"
Add some sort of indication that results are still being loaded.

[2017-06-04 23:32] subsystem7 opened #3 "Crash on index import"
It appears that larger index files cause a memory crash on some phones. This is the same behaviour that was initially seen with very large index files. The suggestion is to further break the files down into 1MB or 2MB each.  What do you think @eroux ?

[2017-06-05 07:44] eroux opened #4 "sorting results"
Results should be sorted (see google doc). A solution that seems reasonable is to use [Intl.Collator](https://developer.mozilla.org/fr/docs/Web/JavaScript/Reference/Objets_globaux/Collator) with the `bo` locale, or maybe falling back to the `dz` locale for very old phones (the `bo` locale should work for 2 years or so).

As a side not there is a [request](http://unicode.org/cldr/trac/ticket/9895)

[2017-06-05 07:50] eroux commented on #3
Sure, I'll make some new indexes

[2017-06-05 09:05] eroux commented on #4
https://bugs.chromium.org/p/chromium/issues/detail?id=729508

[2017-06-05 10:13] eroux commented on #4
https://bugzilla.mozilla.org/show_bug.cgi?id=1370185

[2017-06-05 10:34] eroux commented on #4
https://sourceware.org/bugzilla/show_bug.cgi?id=21547

[2017-06-05 11:11] subsystem7 commented on #4
Supported locales: dz, bo
Sorting Tibetan... error: ["ལྔ","ང","ཅ","རྔ","སྔ","བརྔ","བསྔ"] has been sorted as ["ང","ཅ","བརྔ","བསྔ","རྔ","ལྔ","སྔ"], should have been ["ང","རྔ","ལྔ","སྔ","བརྔ","བསྔ","ཅ"]

[2017-06-05 11:12] subsystem7 commented on #4
iPhone 7 is 10.3.3 beta 1

[2017-06-05 11:14] eroux commented on #4
Ok, in addition to following these bureports (plus this [Debian one](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=864211)), I'll find a workaround so that we can sort Tibetan (we'll need it in other contexts too anyway)

[2017-06-05 11:27] subsystem7 commented on #4
Why do we need to sort results for this app? Is this the equivalence of sort alpha? For large search results on weaker phones, this will slow performance. If the indexes were pre-sorted, it may be that the results would be sorted. Another way to do this is to assign a presort number across all indexes so that I can do a simple numeric sort at the database level. It would increase the index sizes s

[2017-06-05 11:40] eroux commented on #4
What does "sort alpha" mean? if it means alphabetical sorting then yes, and that's necessary...

We can imagine doing that on the server but that's going to take some time (Tibetan sorting is not obvious at all), so let's first give it a try on the client.

[lasca](https://github.com/BuddhistDigitalResourceCenter/lasca) is some sort of reimplementation of the [UCA](http://unicode.org/reports/tr10/

[2017-06-05 11:54] subsystem7 commented on #4
To sort after the results have been returned from the database, the library would be best as a module that I can import. (ES6 syntax). If it is possible for you to get it working on a JavaScript page by including a script, I can take care of the rest. Packaging can be as easy as exporting the object/class etc that does the work. I have no experience with UCA or Iasca, so I am glad you do!

[2017-06-05 11:56] subsystem7 commented on #3
Thank you!

[2017-06-05 13:13] eroux commented on #4
I've added a demo.html on the [repo](https://github.com/BuddhistDigitalResourceCenter/lasca). I'll update the `real_tibetan` algorithm with the complete collation data, but the tests seem to run fine so far!

[2017-06-05 13:22] eroux commented on #4
(done)

[2017-06-05 13:36] eroux commented on #4
BTW, don't hesitate to modify the lasca.js file to make it export something nice and modern, I suspect it's doing something not very intelligent right now, but modules in JS is not really my coMfort zone... (looks like something always evolving in many different directions)

[2017-06-05 13:55] subsystem7 commented on #4
Great, thanks, Élie!

[2017-06-05 15:37] subsystem7 opened #5 "Missing Images"
Images in legacy image groups that required normalization are causing an exception in the image service and not displaying in the App.  Example:

https://www.tbrc.org/browser/ImageService?work=W22084&igroup=I0981&image=1&first=1&last=530&fetchimg=yes

The image normalization code was removed from the app when the ImageService was updated to handle the normalization.

[2017-06-05 15:39] subsystem7 opened #6 "Seeking Out is the only status displayed"
This is a bug in LocalizedStrings.

[2017-06-05 16:11] subsystem7 opened #7 "Android BDRC Launch Screen Missing"
The launch screen for Android needs to be configured and added to the Android deployed project.

[2017-06-05 16:16] xristy commented on #5
This is now fixed in the app server. Imagegroup names are now properly "normalized" according to legacy conventions

[2017-06-05 16:16] #5 closed

[2017-06-05 16:20] subsystem7 commented on #5
Thank you, Chris!!!

[2017-06-05 16:55] subsystem7 commented on #1
Notice the Tibetan title looks good, fits well:
![image](https://cloud.githubusercontent.com/assets/1638461/26793981/f59a3600-49ed-11e7-818a-98f4cd44bee6.png)

Notice the English title is not right.  This is because it is still honoring the Noto Sans Tibetan type.  At first I was thinking Roboto replacement, now I think just knowing when it is english, and changing it to pure Noto Sans is likely t

[2017-06-06 09:10] eroux commented on #1
I concur that when the title is in Latin script, the font should be `NotoSans` (not `NotoSans-Tibetan`)... so there's no more question on our side?

[2017-06-20 12:59] subsystem7 opened #8 "Tibetan Typos"
There are some typos: སྙེ་ཆས། need to be corrected to མཉེན་ཆས།

Tibetan word ཡིག་འབྲུ་གཉིས་ means letter and here need syllable instead of letter, therefore, correct word will be either of ཚེག་ཁྱིམ་གཉིས་ ཚེག་བར་གཉིས་

[2017-06-20 13:05] subsystem7 opened #9 "Publication Information is needed"
NT: It’s crucial for identification, title and authorship aren’t enough in many cases.
Karma: Need full publication information show.

[2017-06-20 13:08] subsystem7 opened #10 "NT: “At least 2 syllables” is useful info for first time users, but might not need to be in the way afterwards."
Also suggesting replacing the Tibetan "Search" hint in the search box with the 2 syllable requirement line.

[2017-06-20 13:10] subsystem7 opened #11 "Search by type"
NT: Search icons are just a random suggestion. I’m not sure filtered search is the right way to go, organizing the search results as on tbrc.org might be better. I’m sure Chris has thought this through and knows what is the better strategy. Starting with an empty page is quite nice too...

![image](https://user-images.githubusercontent.com/1638461/27334755-4a2773bc-5598-11e7-813d-f1cf4f2a2343.png)

[2017-06-20 13:11] subsystem7 opened #12 "Search Results, Search icon reminds user what is being searched"
![image](https://user-images.githubusercontent.com/1638461/27334810-779928b8-5598-11e7-9892-3547dd6b7d03.png)

[2017-06-20 13:13] subsystem7 opened #13 "Status reflected in search results"
NT: This one is quite important imo. Icons with type of result and status. Proposed set of icons below...

![image](https://user-images.githubusercontent.com/1638461/27334848-98b91af8-5598-11e7-9bea-191f5227f049.png)
![image](https://user-images.githubusercontent.com/1638461/27334856-9e4443e4-5598-11e7-9601-0b520c810c2d.png)

[2017-06-20 13:14] subsystem7 opened #14 "Detail View: Replace RID header with title"
NT: Replace the RID in header by title, for non-librarian terrestrials

![image](https://user-images.githubusercontent.com/1638461/27334908-d10811de-5598-11e7-9f03-e2418d07bd87.png)

[2017-06-20 13:16] eroux commented on #11
@ngawangtrinley what's "bib"? also, there's no etext search in version 1

[2017-06-20 13:19] ngawangtrinley commented on #11
Bib is for bibliographic information. Should be both bibliographic and publication information. No etexts for version 1.

[2017-06-20 13:20] subsystem7 opened #15 "Detail View: NT Interface and data display ideas"
Cover page for quick identification, 80% of the time a glance at the cover page will be enough to identify the work and edition. Pecha layout needed.

Headers/content mix-up

Outline view to access texts (RID in banner should be work title, and RID should be displayed with Publication Information)

Comments improve the communication between ground staff and librarians, and users and librarians. Th

[2017-06-20 13:20] eroux commented on #9
@ngawangtrinley we currently transfer `pubinfo_printType`, `pubinfo_publisherDate` and `pubinfo_publisherLocation` to the database (full list of transferred fields [here](https://github.com/BuddhistDigitalResourceCenter/bfa-data-transfer/blob/master/src/main/java/io/bdrc/bfadatatransfer/MigrationApp.java#L90)). Can you please provide a specific example of something that is needed but absent from t

[2017-06-20 13:21] subsystem7 opened #16 "Dirk: App icon design is too square"
Small thing: App icon design is too square -- all other icons have rounded corners, so it looks off

[2017-06-20 13:22] eroux commented on #14
I'm fine with that, the RID should still appear somewhere though, it can be more discrete

[2017-06-20 13:28] eroux commented on #16
Just in case: there's an alternative version of the logo, that scales better for small sizes [here](https://drive.google.com/open?id=0ByjQj1Jk5giJRXg2WnpXUmI1RWs), I don't know when it will be reviewed though (it may not be the final version)

[2017-06-20 13:38] subsystem7 opened #17 "English Version"
Travis: Having the app text in English would support further testing for me!   :)

Karma/Librarians: We would like to know the English terms used for Tibetan translation in this App. So, we will get some ideas and able to give more feedbacks.

[2017-06-20 13:41] subsystem7 opened #18 "App Base Requirements"
Lots of space, IOS 9+,

Karma: App fails on initialization .  He only has 282 MB of space. Now, App is working fine. I deleted some images and video clips from my iphone to make space.

[2017-06-20 13:42] subsystem7 opened #19 "User Guide"
Karma/Librarians: User guideline would be very helpful to the new user of the BDRC Lib App.
Such as explanation of the icon to identify them.

[2017-06-20 13:45] subsystem7 opened #20 "Additional Navigation For Viewing Texts/Works"
Karma/Librarians: For the images, if there are four buttons same as in our website would be useful to go end page, check couple of pages backward, Then able to Back to the Beginning page.

[2017-06-20 13:46] subsystem7 opened #21 "Identifier and fields are all disorder."
Karma/Librarians: Identifier and fields are all disorder. See the screenshot as example.

![image](https://user-images.githubusercontent.com/1638461/27336363-4e866bca-559d-11e7-9fe7-6077f0543186.png)

[2017-06-20 13:47] subsystem7 opened #22 "Show Primary Author Only"
Karma/Librarians: When the author name is displayed, only the primary name would be enough. Rest could be hide/show.

[2017-06-20 13:48] subsystem7 opened #23 "Clean the cache if App stopped working."
Karma/Librarians: Clean the cache if App stopped working.

More info is needed on this.

[2017-06-20 13:49] subsystem7 opened #24 "Suggest to the users, searching with more words will yield more precise results."
Karma/Librarians

[2017-06-20 13:50] subsystem7 opened #25 "If the full title exists in BDRC website/App"
Karma/Librarians: The good chance is the text is available in BDRC.

[2017-06-20 13:51] subsystem7 commented on #17
https://docs.google.com/spreadsheets/d/1lIlpgeRqdVaOoL7Rf4m7aikhsQwmrtRX-iAS39Y3eyY

[2017-06-20 14:14] ngawangtrinley commented on #9
This is the minimal information needed from the publication information, the information you currently transfer doesn't appear in the interface.

* pubinfo_publisherName
* pubinfo_publisherDate
* pubinfo_publisherLocation
* pubinfo_publisherType
* (Series?)

![image](https://user-images.githubusercontent.com/17675331/27337409-f0ffe27a-5604-11e7-8b09-e309341de58b.png)

[2017-06-20 14:33] ngawangtrinley commented on #8
Done. The [localization spreadsheet](https://docs.google.com/spreadsheets/d/1lIlpgeRqdVaOoL7Rf4m7aikhsQwmrtRX-iAS39Y3eyY/edit#gid=0) has been revised by librarians.

[2017-06-20 14:37] ngawangtrinley opened #26 "Open images on page 3"
Open a book on cover page, the 2 BDRC pages will still be there but users won't have to wait for them to load to get to the the cover page. It can make a big difference with a slow connection.

[2017-06-20 14:44] eroux commented on #9
I'll build a new data set adding `publisherName`

[2017-06-20 16:19] ngawangtrinley commented on #9
https://www.tbrc.org/#!rid=O8LS6083%7CO8LS60834CZ163395$W1PD107937

[2017-06-20 18:06] subsystem7 commented on #9
@ngawangtrinley I need the Tibetan for "Publisher Name"

[2017-06-20 21:17] subsystem7 commented on #4
There appears to be a problem with sort.  Maybe you can help me, @eroux ?

Here is a list of 20 titles,

ཀུན་མཁྱེན་རིག་པ་འཛིན་པ་ཆེན་པོ་ཆོས་ཀྱི་གྲགས་པའི་གསུང་འབུམ
བཀའ་འགྱུར ༼སྡེ་དགེ་པར་ཕུད༽
གསུང་འབུམ། པདྨ་དཀར་པོ
རྒྱལ་དབང་ཀརྨ་པ་ཆེན་པོ་བཅོ་ལྔ་པའི་གསུང་འབུམ།
བཀའ་འགྱུར ༼སྟོག་ཕོ་བྲང་བྲིས་མ།）
རྒྱལ་དབང་མཁའ་ཀྱབ་རྡོ་རྗེའི་བཀའ་འབུམ།
གསུང་འབུམ། མཁའ་ཁྱབ་རྡོ་རྗེ། （དཔལ་སྤུངས་པར་མ།）
ཆོས་རྗེ་དཔལ་ལྡན་སྒམ་པོ་བ་ཆེན་པ

[2017-06-20 21:20] subsystem7 commented on #4
and more basically:

[code]

[2017-06-20 23:21] ngawangtrinley opened #27 "Alternative titles of the same work appear as different hits"
Can get a bit confusing for users at first. A visual hint showing that they're the same would help.
![screenshot_2017-06-20-22-10-47-11](https://user-images.githubusercontent.com/17675331/27359847-a0d3f604-55e3-11e7-837c-69cd934952a8.png)

[2017-06-20 23:28] ngawangtrinley opened #28 "Customer service wechat in info"
Add a QR code or link to a customer service account in info. The account can be followed by Dondrup during the day in Asia, and by Emma during the American day

[2017-06-20 23:30] subsystem7 commented on #8
Thank you, NT!! Can you indicate with red where in the spreadsheet you made these updates? It would help me find the changes a heck of a lot faster!!

[2017-06-20 23:32] ngawangtrinley commented on #20
@subsystem7  A big one here is to hide the navigation arrows when displaying images for reading. This can happen with a tap or something. They really get in the way especially on a small screen.

[2017-06-21 07:58] eroux commented on #4
should be ok with latest lasca commit

[2017-06-21 14:04] ngawangtrinley commented on #9
Updated in the spreadsheet.

Publisher Name - པར་མཁན།
Publisher Location - པར་གནས།
Publisher Date - པར་དུས།

[2017-06-21 14:12] subsystem7 commented on #28
Add a "WeChat" image to info panel. NT/Jeff will get Asa the image.

[2017-06-21 14:14] subsystem7 commented on #27
Combine duplicate results before sort. Show both titles, sorted, in the same result.

[2017-06-21 14:18] subsystem7 commented on #26
Consider implementing server side meta-data that indicates the starting slide page.

[2017-06-21 14:22] subsystem7 commented on #24
Single syllable results will not be found. Perhaps, we search for an exact match and display it first, followed by fuzzy match.

[2017-06-21 14:24] subsystem7 commented on #23
Exact behaviour, which devices, and how to repeat the problem.

[2017-06-21 14:26] eroux commented on #26
No need for that, it's always page 3, for all volumes

[2017-06-21 14:30] subsystem7 opened #29 "Gallery: allow for infinite circular navigation"

[2017-06-21 14:36] subsystem7 commented on #14
include RID with publication information

[2017-06-21 14:40] subsystem7 opened #30 "Minimum Publication Information"
Publisher Name
Publisher Location
Publish Date

[2017-06-21 14:49] subsystem7 opened #31 "Some notification when you are not online (and go to view images)"

[2017-06-21 14:51] subsystem7 commented on #26
ok!

[2017-06-21 15:51] ngawangtrinley commented on #24
In other words: "the line about the two syllables is confusing for users, we can do without it."

[2017-06-21 15:52] ngawangtrinley commented on #23
Karma will give you more details later today.

[2017-06-21 15:57] ngawangtrinley commented on #25
In other words: "The status doesn't add any information in release 1, if a text is not in the database it's needed. If it's there we already have it." It makes sense. The status will becomes useful once: 1) it gets updated by the staff at each stage of processing, 2) the existing images are audited and we know what needs to be re-scanned.

[2017-06-21 16:27] subsystem7 commented on #4
It appears that the search now works!!  But.. it is not fast enough, even on a laptop.

Search for 'W2' 5869 results, 15 seconds to sort on a MacBookPro 2.9 Ghz Intel Core i7 in chrome
Search for 'W22' 623 results, 1.5 seconds to sort
Search for 'W220' 237 results, 1 seconds to sort
Search for 'W2208' 20 results, instant sort

It is my belief that we need to think of a different method for sorting

[2017-06-21 16:42] eroux commented on #4
Wow, these numbers are clearly too big. I've spotted a few easy optimizations that can be made in lasca, I'll take some time tomorrow to implement them...

[2017-06-21 16:56] subsystem7 opened #32 "Optimize Search by recognizing subsets of previous search"
When the first "valid" search has been performed, a subset of the database is returned, which can now simply be reduced, instead of making queries to the database. To make this very fast it would be good to keep each subset. This works well in english, but need to investigate how it works in Tibetan with stacked glyphs.

[2017-06-21 17:03] eroux commented on #32
Tibetan shouldn't be a problem here, you can just treat it like a regular sequence of unicode points

[2017-06-21 17:04] subsystem7 commented on #21
@ngawangtrinley When you can, I need a screenshot with order of meta-data

[2017-06-21 17:21] #6 closed

[2017-06-21 17:21] #3 closed

[2017-06-21 17:36] subsystem7 commented on #9
@ngawangtrinley  Thank you! I also need "Print Type" and "RID"

[2017-06-21 17:39] subsystem7 commented on #30
duplicate of #9

[2017-06-21 17:39] #30 closed

[2017-06-21 17:43] subsystem7 commented on #9
![image](https://user-images.githubusercontent.com/1638461/27398399-a1247972-5687-11e7-8040-573f55aa3ae6.png)

[2017-06-21 17:44] subsystem7 commented on #9
![image](https://user-images.githubusercontent.com/1638461/27398446-c5812fd6-5687-11e7-9c3f-657fb3f7ba49.png)

[2017-06-21 17:51] subsystem7 commented on #8
Updates made.

[2017-06-21 17:51] #8 closed

[2017-06-21 17:54] #14 closed

[2017-06-21 18:00] subsystem7 commented on #26
Done!

[2017-06-21 18:00] #26 closed

[2017-06-21 18:14] #29 closed

[2017-06-21 18:27] ngawangtrinley commented on #21
Here's the bug with W1PD76384

![image](https://user-images.githubusercontent.com/17675331/27400284-348769c6-56f2-11e7-9545-95fdbd87152c.png)

[2017-06-21 18:37] ngawangtrinley commented on #9
Could you do this order? Although it doesn't matter that much. Status can come last or not at all, it's not very useful for this release.
![image](https://user-images.githubusercontent.com/17675331/27400708-84484268-56f3-11e7-8da9-a1ab189763e0.png)

[2017-06-21 19:37] subsystem7 commented on #21
Got it.  It was just in the localization file.

![image](https://user-images.githubusercontent.com/1638461/27403172-7c8b52d8-5697-11e7-9368-2a5800279926.png)

[2017-06-21 19:37] #21 closed

[2017-06-21 19:39] subsystem7 commented on #9
Yes! I modified the order to follow this example!

[2017-06-21 19:39] #9 closed

[2017-06-21 19:48] jeffwallman commented on #9
I hope we still have the status variable present.  It is important to show people the state of a resource.  We are going to put in the acquisitions list in there so there will be more works listed as "seekingOut"

[2017-06-22 09:41] eroux commented on #4
I've made some optimizations, I'm trying to test them, i'll open a separate issue for that

[2017-06-22 09:43] eroux opened #33 "separating data?"
I don't think we can keep the data in the git repository in the long term (although we can for release 1), so maybe I could just upload the data on a public s3 url and you could just reference it in the installation instructions?

[2017-06-22 09:48] eroux opened #34 "easing testing"
I tried to test the app in a browser to check my improvements of #4. I think it could be a bit easier: after I ran `yarn` and `npm run dev`, I got

[code]

and then nothing really happens: the process continues to run without printing anything, but there seems to be no open port waiting for me to test the app... what can I do?

[2017-06-22 10:49] subsystem7 commented on #7
Created the splash screens for Android.

[2017-06-22 10:49] #7 closed

[2017-06-22 10:50] subsystem7 commented on #16
Rounded the corners for the android icon

[2017-06-22 10:50] #16 closed

[2017-06-22 12:18] subsystem7 commented on #33
Agreed!

[2017-06-22 12:22] subsystem7 commented on #34
There are certainly some things that need to be described in the readme. For one, this is just the web source build process. It watches the changes made in the www_src folder and updates the bundle and associated files. In order to see what is going on, you will need to either build for a platform (**cordova run android** or **cordova run ios**) or run **phonegap serve**  -- which will provide you

[2017-06-22 12:25] subsystem7 commented on #28
@ngawangtrinley I really need this image before noon Eastern US Time if possible.

[2017-06-22 12:44] #2 closed

[2017-06-22 13:40] subsystem7 commented on #31
@ngawangtrinley  I need this translated to Tib as soon as possible:  "It appears that you are not connected to the Internet. In order to view scanned pages, you will need an Internet connection - preferably a high speed connection."

[2017-06-22 13:44] subsystem7 commented on #31
![image](https://user-images.githubusercontent.com/1638461/27437147-54085c82-572f-11e7-8344-de7989252378.png)

[2017-06-22 16:36] subsystem7 commented on #4
Tried again with the latest lasca.js optimisations. Unfortunately, the exception reared its ugly head with the largest dataset. I did get numbers for the smaller sets, and they show no change in execution time.  I am pushing sort to Release 2.

[2017-06-22 16:48] eroux commented on #4
hmm ok, I'll test it further tomorrow with a larger dataset (I just realized I could use the .json files from the repo, I'll do that)

[2017-06-22 16:49] eroux commented on #4
(if you have a simple way to test it with the whole data simply, I'd be happy to fix the thing)

[2017-06-22 16:49] subsystem7 commented on #31
![screenshot_2017-06-22-12-46-05](https://user-images.githubusercontent.com/1638461/27445823-4227b8b8-5749-11e7-9e73-8572b6c5e22d.png)

[2017-06-22 16:50] #31 closed

[2017-06-22 20:16] subsystem7 commented on #4
When I test, I use phonegap serve -- I also work on a reduced dataset, where I include all of the index files, but only a few selected detail json files.

[2017-06-22 20:25] subsystem7 opened #35 "Work Index Files Contain Publisher Names"
NT discovered that the search results contained publisher names as well as work titles and alternative work titles (or outline titles or author names). Looking at the index file, it appeared that all of these results were connected to values containing the work id twice... like this:

[code]
(NOTE: I'm not sure whether this example is a publisher name or alternative title, it is just for illustrat

[2017-06-23 04:33] ngawangtrinley opened #36 "Rename app to "BDRC Mobile""
"དཔེ་ཀློག་མཉེན་ཆས། BDRC Lib" or "BDRC Lib དཔེ་ཀློག་མཉེན་ཆས།" to make it more discoverable for the 6 million Tibetans

[2017-06-23 10:37] eroux commented on #35
should be fixed with the new index given on Skype

[2017-06-25 11:12] eroux commented on #4
I got annoyed by lasca so I wrote a small lib that performs much better: [tibetan-sort-js](https://github.com/BuddhistDigitalResourceCenter/tibetan-sort-js). It is packaged in a quite modern way so it should be easy to use... Example

[code]

output:

[code]

which is reasonable I think... almost 100 times faster than lasca.

[2017-06-26 13:55] ngawangtrinley opened #37 "Person is found but is empty"
Query:
![h1](https://user-images.githubusercontent.com/17675331/27542479-f20af754-5ab9-11e7-9ace-5946b1c40b77.png)
Hits:
![h2](https://user-images.githubusercontent.com/17675331/27542525-11daacf0-5aba-11e7-9e75-dfd28a079f70.png)
Info after selecting the person:
![h3](https://user-images.githubusercontent.com/17675331/27542541-1c4dc352-5aba-11e7-9eff-60503d757d17.png)

[2017-06-26 14:10] ngawangtrinley opened #38 "App crashes after a couple of queries"
## Query A: "བདེ་ལེགས་"
![1](https://scontent-tpe1-1.xx.fbcdn.net/v/t34.0-12/19244165_10154709316672467_1890035487_n.png?oh=740bdf0c156c6310ab21bc9063cf5edf&oe=59535041)

## Query A results:
![2](https://scontent-tpe1-1.xx.fbcdn.net/v/t34.0-12/19251136_10154709316647467_432252814_n.png?oh=fb4c938d2a830fc309de029cb76d913b&oe=5953066C)

## Query B: "དོན་གྲུབ་རྒྱལ་"
![3](https://scontent-tpe1-1.xx.fb

[2017-06-26 14:30] ngawangtrinley opened #39 "Emptying the app cache fixes it ... 1 time."
## App is frozen as described in #38:
![1](https://scontent-tpe1-1.xx.fbcdn.net/v/t34.0-12/19512008_10154709316747467_208594410_n.png?oh=209554a21f50be60c35c1f69d42b5061&oe=59532469)

## App cache is emptied:
I'm pretty sure the data comes from images loaded for reading
![2](https://scontent-tpe1-1.xx.fbcdn.net/v/t34.0-12/19489534_10154709316827467_2001879621_n.png?oh=861db0d90755275bd7854a10d658a

[2017-06-26 16:00] subsystem7 commented on #38
Hey NT! Yeah, this sounds bad. I never experienced this on my android phone. Are other people reporting this issue? Does it happen on iOS?

[2017-06-26 16:22] ngawangtrinley commented on #38
I tested it on two OPPO phones, didn't test it on iOS. I'm suspecting that the feedback about clearing the cache was the same issue.

[2017-06-26 16:30] subsystem7 commented on #38
ok... I think I have made this happen on iOS also.. this is actually good news. Working on it. The error I get is unfortunately not clear. "SyntaxError: Unexpected EOF" so... I am continuing to look. Can you test whether there are other combinations of searches that do the same thing?

[2017-06-26 16:33] ngawangtrinley commented on #38
Are you not on holiday? :D

[2017-06-26 16:42] subsystem7 commented on #38
It appears that searching for དོན་ག causes an error.  I am not sure why, but there is no need for more than one search to make this happen.  Yes... I am on holiday... but this seems like a show stopper, no?

[2017-06-26 16:45] subsystem7 commented on #38
Also, I can make it happen in the iOS emulator.  Unfortunately, I cannot make it happen in the browser version... which means it is related to the database, and means that debugging is going to be a bit more of a problem...

[2017-06-26 17:05] ngawangtrinley opened #40 "Can't find the app on App Store"
I've tried on the Taiwanese App Store as well as the Indian one. Or is it that it's not there yet?

[2017-06-26 17:11] subsystem7 commented on #38
It is possible that this is the problem:
https://github.com/litehelpers/Cordova-sqlite-storage/issues/147

I am working on confirming this, and working around it.

[2017-06-26 17:20] ngawangtrinley commented on #38
I'd say don't worry about it for now. It's definitely good enough for the training. It's really something about this "དོན་ག" word combination. On my phone, emptying the search field then closing and re-opening the app makes it come back to normal.

It's funny because "དོན་གྲུབ་" or Dhondrup means "The one that makes things happen" and it's the name of my Tibetan colleague here who found the bug wh

[2017-06-26 17:37] subsystem7 opened #41 "U+2028 (LINE SEPARATOR) in index files appears to cause a fatal database error on resolution of a query"
This issue is likely related to this issue:

https://github.com/litehelpers/Cordova-sqlite-storage/issues/147

It appears that whenever a query returns results that contain one of the many indices where the key has the character combination '\n' -- a crash happens.  Here is an example.

"གྲགས་པ་རྒྱལ\nམཚན། གསུང་འབུམ":["W3GSP297"]

The temporary fix is to remove all of these from the index files.

[2017-06-26 17:38] subsystem7 commented on #38
That is actually very funny... There are definitely a whole host of other searches that would have had the same effect. See #41

[2017-06-26 17:38] #38 closed

[2017-06-26 17:49] xristy commented on #41
If '\n' is a newline char it should be stripped out of names and titles. They are not needed and may cause problems elsewhere.

[2017-06-27 02:54] ngawangtrinley commented on #41
This didn't solve the problem with "དོན་ག" and "དོན་གྲུབ་" though...

[2017-06-27 11:59] subsystem7 commented on #41
NT: did the app reimport when you launched the new version? You may need to uninstall it fully from your phone and try again. It tested fine on my iPhone. :(

[2017-07-03 14:31] subsystem7 commented on #41
I have now tested this on my android phone (S5) from the Play Store install, and the problem is no longer there with the latest release (last week).  Can you confirm, @ngawangtrinley ?

[2017-07-03 18:58] subsystem7 commented on #39
I am closing this, since it is a workaround/more data about #38 - which I believe has been resolved, but can also be further discussed under #41

[2017-07-03 18:58] #39 closed

[2017-07-05 23:26] subsystem7 commented on #41
Just FYI: Here are the entries in the indexes that containe the unicode line separator:

[Log] possible bad data - found LINE SEPARATOR U+2028
[Log] རྗེ་བཙུན་བླ་མ་དམ་པ་མཁས་ཤིང་གྲུབ་པའི་དབང་ཕྱུག་བྲག་དཀར་རྡོ་རྗེ་འཆང་བློ་བཟང་དཔལ་ལྡན་བསྟན་འཛིན་སྙན་གྲགས་དཔལ་བཟང་པོའི་གསུང་འབུམ་གླེགས་བམ་ཕ་པའི་དཀར་ཆག
  O1PD84604-O1PD846041PD84851

[Log] possible bad data - found LINE SEPARATOR U+2028
[Log] དཔལ་རྡོ་རྗེ་འཇི

[2017-07-06 00:03] subsystem7 commented on #41
I added code that removes U+2028 and U+2029 if they appear in the key.

[2017-07-06 13:51] ngawangtrinley opened #42 "Background image in Google Play"
Recent version of the image with stacked letters displaying properly should be uploaded. Here's the current version:
![image](https://user-images.githubusercontent.com/17675331/27914217-0e1995b2-6295-11e7-9c71-27b2355c2ab8.png)

[2017-07-10 11:38] #41 closed

[2017-07-12 07:22] eroux opened #43 "label changes"
As seen in the Skype discussion, @karmagongde requested to change the labels in the following way:

- [x] བརྩམས་ཆོས་ངོ་རྟགས into མི་སྣའི་ཨང་རྟགས
- [x] མཛད་པ་པོ into བརྩམས་ཆོས་ཁག

@ngawangtrinley can you please confirm?

[2017-07-12 12:34] eroux opened #44 "swapped labels"
`publisherName` should be `པར་གནས་` and `publisherDate` should be `པར་དུས་`, they are swapped now

[2017-07-12 12:35] eroux commented on #44
@subsystem7 do you want me to swap the data between the two? I can do that so that you don't have to update the app

[2017-07-12 13:49] subsystem7 commented on #44
This is what I have in the localizations file at the moment:
[code]
To me it looks like you are saying that publisherName should have the publisherDate label, and that the publisherDate should have the publisherLocation value.  Is this correct?   If so, what should publisherLocation be?

In the application, I am displaying these elements in this order:
[code]

Can you confirm? I sent the translati

[2017-07-12 13:50] karmagongde commented on #43
I am not suggesting change all the བརྩམས་ཆོས་ངོ་རྟགས། into མི་སྣའི་ཨང་རྟགས། In BDRC Lib App, there are བརྩམས་ཆོས་ངོ་རྟགས། in two places, one in catalog info to indicate work number and other at Person record info.
This labeling issue is in Person record information not in catalog information.

For work number  བརྩམས་ཆོས་ངོ་རྟགས། into བརྩམས་ཆོས་ཨང་རྟགས།
For Person record  བརྩམས་ཆོས་ངོ་རྟགས། into མི

[2017-07-12 13:51] subsystem7 commented on #43
in the localizations file, མཛད་པ་པོ  looks like:
[code]
I can't find བརྩོམས་ཆོས་ངོ་རྟགས -- what does it mean @ngawangtrinley ?

[2017-07-12 13:56] eroux commented on #43
བརྩོམས་ཆོས་ངོ་རྟགས a mispelling on my part, as indicated by @karmagongde, the correct spelling is བརྩམས་ཆོས་ཁག, I've fixed the initial comment

[2017-07-12 13:58] xristy commented on #44
I can confirm that PublisherDate and PublisherLocation are swapped. They should be:

PublisherDate: 'པར་དུས།' ,
PublisherLocation: 'པར་གནས།' ,

[2017-07-12 14:02] subsystem7 commented on #43
ok... so I am getting that there are some nuances to this labeling request. The RID label is different in the person detail than in the work detail.  I will need very specific and clear instruction with english translation. At the moment, RID is used for work, text, and person:
[code]

What I think may need to be done is to create PersonRID, WorkRID, TextRID, something like this:

[code]

and remo

[2017-07-12 14:32] karmagongde commented on #43
I have discussed with librarians and we all agreed of following translation.
PersonRID: མི་སྣའི་ཨང་རྟགས།
WorkRID: བརྩམས་ཆོས་ཨང་རྟགས།
TextRID are of outline's RID therefore, ས་བཅད་ཨང་རྟགས།
CreatorOf: བརྩམས་ཆོས།

[2017-07-12 15:33] jeffwallman commented on #43
@ngawangtrinley should vet all the translations.  @karmagongde please confirm @subsystem7's request about the CreatorOf label.

[2017-07-12 16:33] karmagongde commented on #43
In my previous comment, I already listed translation of CreatorOf label.
CreatorOf: བརྩམས་ཆོས།

[2017-07-12 16:56] subsystem7 commented on #44
Changes made to LocalizedStrings.js

[2017-07-12 16:56] #44 closed

[2017-07-12 17:15] subsystem7 commented on #43
Looking for final approval. Here are some screenshots of the new labels in action.

# WORK
![image](https://user-images.githubusercontent.com/1638461/28130080-bef0d68a-6703-11e7-8ae6-28f68c6ce4c6.png)

# PERSON
![image](https://user-images.githubusercontent.com/1638461/28130103-cf0d4b02-6703-11e7-8bc6-0882298f573a.png)

# OUTLINE
![image](https://user-images.githubusercontent.com/1638461/28130135-

[2017-07-12 17:25] subsystem7 opened #45 "Redeploy with Data 2017.07.02"
Download and include the latest dataset: data-20170712-2.zip

[2017-07-12 18:08] karmagongde commented on #43
Work and Person labels are wonderful.
In outline it need to switch མཚན་བྱང་། and ས་བཅད། labels. The title of the book is གསུང་འབུམ། མཁྱེན་བརྩེའི་དབང་པོ། and outline Text is མཁྱེན་བརྩེའི་བྱང་ཆུབ་ལམ་རིམ་ཉམས་སུ་ལེན་ཚུལ་གྱི་ཕྱག་བཞེས་སྙིང་པོར་དྲིལ་བ།

[2017-07-12 22:18] subsystem7 commented on #43
@karmagongde @ngawangtrinley  - The following labels are used for outlines (in the order that they appear).

[code]

__Title__ is the name of the text, and is used in other places throughout the system... so perhaps there is a better name for that on the outline page.

__Is Outline Of__ refers to the work that the outline is of. So in English, these labels make sense.

please advise.

[2017-07-13 14:07] karmagongde commented on #43
The skype and Github#43 received yesterday 6:20pm. I was out of office and could not able to reply. Sorry for that.
Generally Title means མཚན་བྱང་། I don't know anything what terms were used in field locations in App.
The screenshot of the Outline: གསུང་འབུམ། མཁྱེན་བརྩེའི་དབང་པོ། is main title; བྱང་ཆུབ་ལམ་རིམ་ཉམས་སུ་ལེན་ཚུལ་གྱི་ཕྱག་བཞེས་སྙིང་པོར་དྲིལ་བ། is outlined text.
In technical term, is ther

[2017-07-13 14:11] xristy commented on #43
"Outline" (ས་བཅད) would be the heading for the actual outline.

"Is Outline Of" would be the heading for the Work RID that is being outlined

[2017-07-13 14:32] karmagongde commented on #43
Thank you Chris, I also thought so. I looked in DLMS for a example.

[2017-07-13 14:34] ngawangtrinley commented on #43
Hi everyone, sorry for not answering yesterday, I was traveling. @karmagongde my understanding was that the Outlines are a list of the texts in a volume, in which case དཀར་ཆག is more adapted. ས་བཅད། is more the content of a text.

[2017-07-13 14:54] karmagongde commented on #43
Yes, དཀར་ཆག could be single work number or table of contents. ས་བཅད། is more like a detailed contents of a text.

[2017-07-13 14:58] subsystem7 commented on #43
ok, so is the outcome this?

[code]

Thanks,
Asa

[2017-07-13 19:45] xristy commented on #43
OutlineRID and IsOutlineOf are fine.

The Title should be reverted to:

Title: 'མཚན་བྱང་།'

[2017-07-13 20:13] #43 closed

[2017-07-26 08:13] ngawangtrinley opened #46 "Copyright notice"
Can we take out the "copyright 2017" ? It takes away some of the free and open-source spirit from the whole thing, imo.

![image](https://user-images.githubusercontent.com/17675331/28610885-8b4dd5de-721c-11e7-8532-7234f0064257.png)

[2017-07-26 08:22] eroux commented on #46
I think what's not clear is the meaning that is conveyed by "copyright 2017": "2017" is a valuable information, although maybe not crucial. "copyright" is less clear, maybe it conveys the meaning of:
- "made by" (in which case "made by" or "provided by" or "an app from" would be a nicer way to state that
- "warning, don't steal our precious app, we do own the copyright", well, I'm not sure why we

[2017-07-26 08:24] ngawangtrinley opened #47 "App screenshots"
The publisher name on the screenshots of the app (both on Play and AppStore) is some English text displayed in Tibetan characters. Covfefe-esque.

To be more precise, it is the Tibetan font rendering of an English transliteration of the Tibetan name of the publisher. I know I should have noticed this earlier.

![image](https://user-images.githubusercontent.com/17675331/28611283-d66f5262-721d-11e7-

[2017-07-26 14:22] xristy commented on #46
Copyright normally attaches automatically once a work is fixed in tangible form and the app is such a form. The explicit acknowledgement that the app is copyright 2017 by BDRC (currently known at www.tbrc.org) does not contradict github availability and free-ness and open-ness. On the other hand if the development of the app was funded by the USAID contract then [it may be considered a work of the

[2017-07-26 14:34] eroux commented on #46
I don't think anyone challenges the assumption that the app is under copyright, I think the point of the issue is to say that it is not useful to highlight it in such a strong way

[2017-07-26 15:36] xristy commented on #46
I think it may in fact not be under copyright depending how the USAID contract is written and whether it was used to fund the development, of which I am not sure.

Has any user refused to access BDRC content via the app because of the presence of the copyright? Maybe just change to the © character instead of spelling it out?

[2017-07-26 15:38] eroux commented on #46
I think this is a UI design issue, not a legal or technical issue...

[2017-07-26 16:02] xristy commented on #46
It is perhaps both. We have a © at the bottom of www.tbrc.org and there's one at the bottom of the github page as well. There is a bit of a legal notice aspect to its appearance on the content presented to the user.

[2017-11-17 16:06] ngawangtrinley opened #48 "Volumes order"
Volumes listed for a work aren't ordered.

![23730619_10155095442847467_1918183243_o](https://user-images.githubusercontent.com/17675331/32957193-f1b4d178-cbf5-11e7-853e-00dca4e40292.png)

[2017-11-17 16:22] ngawangtrinley opened #49 "Confusing message during initial search"
Users get confused when they read "Search results: 0" while the spinner still spins.

![23715130_10155095443147467_2075682444_o](https://user-images.githubusercontent.com/17675331/32957441-aa7d0770-cbf6-11e7-838d-0248a0156f27.png)

[2017-11-20 18:07] ngawangtrinley opened #50 "Single Creator name in Work View"
Asa: Use the first author in the list.

![screenshot_2017-11-21-01-42-20-32](https://user-images.githubusercontent.com/17675331/33033539-a29ac52c-ce5f-11e7-84ff-56d9bd7bc0a5.png)
As shown in the above example, variants of an author's names are displayed in a work view (W1KG25095), and make users strain their thumbs scrolling down the list.

This name:
<work:creator person="P270">o rgyan 'jigs med

[2017-11-20 18:09] eroux commented on #50
Hmm, so I guess only the first of the names should be displayed? I should make sure it's the "main" one, but I'm pretty sure it already is...

[2017-11-20 18:26] jeffwallman commented on #50
Look at the website for a view of the creator information, as it appears in the work view.  You should select name variant #1 in the person record, for display on the work record.

[2017-11-21 11:36] ngawangtrinley opened #51 "Add PDF Download feature to ZJU server http://bdrc.info"
PDFs don't download from China, both from the app and from bdrc.info when it works.
* Elie needs to add the PDF files clean up script to the ZJU server

[2017-11-21 13:23] subsystem7 opened #52 "Add settings panel"
• Add "Settings" to MOM
• Build "Settings" page

[2017-11-21 13:28] subsystem7 opened #53 "Implement source selection"
• Add source selection to settings panel
• Modify code to use this setting

[2017-11-21 13:50] subsystem7 opened #54 "Outline PDF Download Links"
View/PDF for works and outlines should be the same. Bit confusing the way it is now.

For now:
 - When there is a single volume, display the PDF link next to view
 - When there are multiple, use the card system as it is now

[2017-11-21 15:21] eroux opened #55 "Add license/access of a work"
I've added two fields in the work jsons:
- `license` that can have two values:
   - `copyrighted`
   - `publicdomain`
   - `ccby` (shouldn't happen)
   - `mixed` (shouldn't happen)
- `access` with the following values:
   - `fairuse` (shouldn't happen)
   - `mixed` (shouldn't happen)
   - `restrictedinchina` (shouldn't happen)
   - `open`
   - `restrictedbyquality`
   - `restrictedbytbrc`
   - `re

[2017-11-30 18:35] subsystem7 opened #56 "Move language selection to settings page."

[2017-11-30 20:08] subsystem7 commented on #50
![image](https://user-images.githubusercontent.com/1638461/33452457-49d02864-d5e0-11e7-9f04-44b659fb9fdb.png)

[2017-12-05 13:18] ngawangtrinley opened #57 "Cross-platform Outline links"
Outline links don't work from messaging apps because they break on the "|". The first part is opens the full outline, the second opens the current text. This is an issue for a text which is in the middle of a large outline. Users can't select the whole outline easily from most messenger apps.

Take for exemple O01JW00501JW15968 in Facebook Messenger:

https://www.tbrc.org/?locale=bo#!rid=O01JW005|

[2017-12-05 13:23] subsystem7 commented on #57
This is not a bdrc-lib-app issue.

I attempted to URLEncode the rid, and that link failed to load the outline node. This will require a server side change, perhaps honoring "-" as an "|" ??

original:
[code]

url encoded:
[code]

[2017-12-05 13:26] ngawangtrinley opened #58 "Share and Share PDF are confusing"
I've observed a couple of users downloading and using the app for the first time, and they said that they find the term "Share" for a link to the website rather confusing. When they got to the link with the PDF, they said: "Oh, this is sharing right here. I can send this link and it sends the text!"

A suggestion was to rename the "Share" button to "Website", or "Online Library"...

[2017-12-05 13:41] subsystem7 commented on #58
perhaps "VIEW ONLINE"

[2017-12-05 14:00] ngawangtrinley opened #59 "Access and Restriction message confusing"
To do:
- [ ] change the message
- [ ] @eroux check the data for similar bugs

Users found it quite confusing that works like W1PD137818 could be viewed (partly they discovered), but was labeled "open access" in the metadata and "restricted" when trying to download.

They also suggested the message could be made more human by writing something like "PDF can't be downloaded because it's copyrighted.

[2017-12-05 14:12] ngawangtrinley opened #60 "Restricted works and Outlines frustrating"
Today's users found it rather frustrating having to actually open a title to find out whether it is either just an outlines without images, or a partial book with a download button that tells you it can't download because of restriction.

They suggested to add a search selection menu in the settings...
- [ ] everything
- [x] open
- [ ] restricted
- [ ] outlines

... and/or 1. not showing the downl

[2017-12-05 14:33] subsystem7 commented on #59
This looks like a data problem.

from the file:
W1PD137818.json

[code]

[2017-12-05 14:34] ngawangtrinley opened #61 "Difficult to find works, relevance"
One user searched for སྤྱོད་འཇུག the most common name of the "Way of the Bodhisattvas", he found an instance of the text at the 39th hit and was a bit sad to find that it isn't actually a work with images but a general work that give you access to another list of related works on the website...

[2017-12-05 14:35] eroux commented on #57
It's not an app issue indeed, can you add it to the to do list ?

[2017-12-05 14:39] ngawangtrinley opened #62 "Single author name not yet the right one"
The main name of P270 is listed correctly in the person view...

![f](https://user-images.githubusercontent.com/17675331/33612594-067ddf4e-da0d-11e7-9cc6-6dc2e788b96d.png)

...but not in the work view.

![f](https://user-images.githubusercontent.com/17675331/33612613-18bac442-da0d-11e7-83a2-74e71a4000f0.png)

The P270.json has the following:
"name":["ཨོ་རྒྱན་འཇིགས་མེད་ཆོས་ཀྱི་དབང་པོ།","ཨོ་རྒྱན་འཇི

[2017-12-05 14:40] subsystem7 commented on #60
While this sounds like a good thing to address, the search right now, searches an index that has no awareness of facets/filters. The database has only titles and RIDs. In version 2 we might have meta-data in the search. I suggest this is a version 2 issue.

[2017-12-05 14:42] eroux commented on #59
license is about copyright, access is about restriction, data is meant to
be this way. The work is not restricted per second, so it's access is open,
but it's under copyright, so we only provide it under fair use.

Le 5 déc. 2017 15:33, "Asa Hardcastle" <notifications@github.com> a écrit :

[2017-12-05 14:44] subsystem7 commented on #61
version 2

[2017-12-05 14:44] xristy commented on #60
It seems possible that the payload can be generated with simple indication of whether there is downloadable content and/or only partial content. Would that help? Still for rel 2 but perhaps simple to implement.

[2017-12-05 14:48] xristy commented on #61
This issue may be well beyond rel 2. It is s known issue that such “common names” as spyod ‘jug are not even used in the cataloguing. This particular case might be raised with the librarians for them to actually tag the particular works that should be found with that simple search but it will still be an issue to cause the items to appear high a list of search results. It’s almost like a special p

[2017-12-05 15:01] subsystem7 commented on #62
This is because the Person is not loaded from the P270.json file, rather P270 is used to search the index, and the person name is the associated value. So, this can either be fixed by putting the correct name in the index, or by opening the P270.json file. The question for @eroux is, are each of the P270 name variants in the personIndex files?

[2017-12-05 15:05] subsystem7 commented on #62
actually... one sec. this is in the "browser" version. It is possible that I keep only one key. In the database driven version it would mean that I am simply taking the first result... which would mean that the first stored name would be displayed. @eroux please wait until I check this

[2017-12-05 15:46] jeffwallman commented on #57
We should resolve this asap.  I argue that

https://www.tbrc.org/link?RID=O01JW00501JW15968 should be supported from the GWT app

The issue is that the "|" |$" characters are not supported across the platforms our users use, including WeeChat and WhatsApp.  If we support deep linking using the Node RID, we will have cross-platform support.

Elie, can you comment on this?

[2017-12-05 16:00] xristy commented on #57
I think one issue is recognizing that the RID is a Node RID and not an Outline RID. The “|” and “$” are part of the recognition.

Since these RIDs are in the mobile app payload they could be encoded differently and recognized in the app server. Maybe with “-“s.

Also there are sites such as ToL and Lotsawa that have the form of RIDs with “|” and “$”

Élie and I will discuss.

[2017-12-05 16:04] subsystem7 commented on #62
ok, I am able to confirm that the author name that is displayed is the first author name with the rid P270 that is added to the database. Here is the import order:

![image](https://user-images.githubusercontent.com/1638461/33616702-a677819c-d9ab-11e7-90e3-7078b7b39ea7.png)

So basically we have two possible solutions.

1) make sure that the most important name comes first in the person index

Thi

[2017-12-05 16:35] ngawangtrinley commented on #62
1. Or re-populate the personIndex-0.json file with the content of /persons/ so it matches its order.

[2017-12-05 16:47] ngawangtrinley opened #63 "View first, metadata next"
One piece of user feedback was that it would be more intuitive and user friendly to have the view mode by default, and the metadata that follows.

The logic a) is that it's quicker to identify a book by seeing the cover page than by going through the metadata, and b) it shortens the number of steps and the amount of reading needed to access the "View" button.

[2017-12-05 16:49] subsystem7 commented on #63
interesting.

[2017-12-05 17:07] eroux commented on #62
that won't solve the issue, if you really want to solve it by changing the person index, then we have to completely change the person index. That's not a big change on my side, but we have to agree with Asa what the new format would be, run some tests, release 1.2, etc. We can do that. Asa, what would be best for you as a new format?

[2017-12-05 17:19] jeffwallman commented on #57
The current form of the URL does not allow users on WeeChat and WhatsApp to share the links.  So I think we need to support another form of the URL that works on these platforms.

NodeRID is unique in the database, and a simple look up will give you all the necessary information, including, the work, outline, start page and end page.  I do not think you need to build the recognition into the URL.

[2017-12-05 17:28] ngawangtrinley commented on #59
This actually looks like a bug in the data. The access [on the website](https://www.tbrc.org/?locale=en#!rid=W1PD137818) is Fair Use.

[2017-12-05 17:30] eroux commented on #59
the data gets changed in the migration machinery, on purpose, so no, it is not a bug in the data

[2017-12-05 17:35] xristy commented on #57
Élie and I are now together looking at the issue and it turns out that encoding the pipe, "|" via %7C and the dollar, "$" via %24 in the URL instead of using the pipe and dollar will form a complete URL in wechat and fb messenger etc.

The app server already handles the %7C and it is a simple change to the app server to handle the %24.

If Asa makes the change from"|" to %7C and from "$" to %24 in

[2017-12-05 20:24] jeffwallman commented on #59
Elie.  There is a misunderstanding.

The work in question is restricted by copyright right.  In our case, this means, and this is what the metadata is saying, is that the access is restricted to fairUse.  There are no additional restrictions placed on the material.  Saying the license is copyright and access is fairUse is the way our metadata is defined.  Saying the license is copyright and the ac

[2017-12-05 20:47] xristy commented on #57
I've deployed an update to the app server to AWS and tested that the URL:

    https://www.tbrc.org/?locale=bo#!rid=O01JW005%7CO01JW00501JW15968%24W22703

works to open to the intended node of the outline.

Separately fb messenger and wechat have been verified to treat the above as a single URL.

When Asa tried the URL previously it failed to open to the intended node because of a deficiency in th

[2017-12-05 20:56] eroux commented on #59
I perfectly understand the current values of license and access yes, and you describe them well. I thought it would be better to make the change I made for some reasons I can explain (and that I tried to explain several times, but I guess that got lost in some email or some doc nobody reads). Shall I give another shot at my explanation or revert the change?

[2017-12-05 21:24] eroux commented on #59
I'll make a spreadsheet in the next few days describing some cases, how they're currently encoded, the issues I find with the current encoding and a proposal for a new encoding (that will be used for the migrated data, not in the current system), that's probably the best solution. In the meantime, Asa, can you describe the logic you're using for error messages? I'll build the data accordingly.

[2017-12-05 21:31] jeffwallman commented on #59
It's fine to reinterpret, or even propose a change, but it would be better if we didnt do this now, at the tail end of releasing the app. The staff here are the ones entering the data and they have been trained to understand license and access as such.  If a work has an access restriction, it can be fairUse, for copyright works, or if there are additional restrictions beyond fairUse, those are app

[2017-12-06 00:29] subsystem7 commented on #59
Speaking exclusively about PDF Generation errors,
 - I call the PdfServiceApp
 - the response has key named "success"
 - if success is "false" I look at the "errorCode" and present the corresponding error. The code is very simple, just a big if/else

[code]

There are three categories of error, as you can see from the code above. Error numbers are displayed, followed by one of three generic errors

[2017-12-06 00:42] subsystem7 commented on #62
I think the best option is to include the best author name inside the work.json files along with the P numbers.

[2017-12-06 07:03] eroux commented on #62
Asa, I'm not really sure what you mean, can you give an example?

[2017-12-06 07:45] eroux commented on #59
I agree it's more simple if the dataset for the app reflects the current features instead  of more experimental ones, I'll make a new dataset, possibly tonight.

[2017-12-06 10:50] subsystem7 commented on #62
for example W22084.json you would make the hasCreator array into an array of objects. In this example the key is P956 and the value is "སི་ཏུ་པཎ་ཆེན་ཆོས་ཀྱི་འབྱུང་གནས།" -- I would then extract the first element of the array and use this name.

[code]

[2017-12-06 10:55] subsystem7 commented on #58
Also, maybe we should just make it open a web browser. Could even be "Web Link" -- that way, a browser opens, and people can simply share from the browser. This would be my vote.

[2017-12-06 15:52] eroux commented on #59
New dataset has been produced and sent to Asa

[2017-12-06 16:04] eroux commented on #62
I see... Well, I'm quite reluctant to the idea of doing that, for a few reasons:

- looking at the code, that's not a small change, so I won't be able to do that before Monday possibly
- it duplicates data and makes the payload bigger (maybe not in a very significant way, but it should be visible)
- I just don't like the idea, but that's not a rational argument

there's no blocking issue here, jus

[2017-12-06 16:26] xristy commented on #62
I'm confused. Why not just use the person key, `P270`, from the Work `hasCreator` field to open the `P270.json` and simply retrieve the first name  from the `name` field? Maybe a separate _preferred name_ table with a single name in it since the data in the json payload has the correct order.

[2017-12-06 17:06] subsystem7 commented on #62
As I noted above, @xristy and @eroux, loading the P270.json file would require no change to the index files, but will result in a small delay when loading the author name whenever a work is viewed (for slower phones).

For performance, having the "preferred" name in the work json file makes sense or loading a preferred name index.  It does increase the "payload" -- but, not by much. In this case,

[2017-12-06 21:01] eroux commented on #62
Fine, I'll try to do have that done on Monday

[2017-12-08 14:31] eroux commented on #62
a new dataset has been generated. I'm a bit puzzled by the main title in the person view, does it come from the search or does it have the same sort of problem?

[2017-12-08 17:18] ngawangtrinley commented on #62
@eroux the main title in the orange bar is indeed the keyword that was searched. Since the current order in the personIndex-0.json is random, I still think that the easiest solution would be to run a post-processing script that would make sure the first instance of each RID is the one with the preferred name. Something like finding the instance with the preferred name for each RID and moving it on

[2017-12-11 13:59] eroux opened #64 "wrong mirror selection by default"
@ngawangtrinley told me that the app was configured with the wrong mirror by default: the Chinese mirror for the English language and the US mirror for the Chinese language. I'm not able to confirm this, but it's certainly worth inspecting.

[2017-12-11 15:03] ngawangtrinley commented on #64
It is a localization issue. The Tibetan strings pasted are the wrong place.

[2017-12-11 15:16] #64 closed

[2017-12-16 12:49] jeffwallman commented on #53
The default source is China.  I believe we discussed this.  But already Karma and I tested and found that we couldn't download PDFs.  This was because the default source was marked as China.  Either the Library Source needs to be displayed on the home screen at start up?  Or we need some indication to the user that this setting exists.

[2017-12-16 14:49] subsystem7 commented on #53
Yeah, I think you are right, Jeff. This type of setting is really hard for users to understand. Especially since we are making assumptions at setup based on the language they choose.

## Option 1:

The ideal solution is that we have two apps: BDRC Lib China Edition and BDRC Lib Standard Edition. We could call them CE and SE. These apps would be EXACTLY the same, except that one would be preloaded

[2017-12-16 15:13] xristy commented on #53
There was a missing eBooks dir on the cn server that might have gotten in the way of generating pdfs via the app.

[2017-12-16 15:15] jeffwallman commented on #53
I think Option 2 is the best option. Can we move forward with that?

[2017-12-16 15:23] subsystem7 commented on #53
We sure can. Do you want to consider any changes in messaging throughout the app?

### Sequence:

• Select Language
• Select Server (default selected is based on language selection)
• Run the DB index imports

### Select server Panel (in the selected Language)

Library Source **sourceSelectTitle**

Please select a server for library source. Please note that this can be changed at any time within t

[2017-12-18 05:33] ngawangtrinley commented on #53
@xristy thanks for the feedback, right now the issue is that the server is down. We'll definitely do more testing when it's back up.

@subsystem7 We should keep going forward with option 2, we already have "Please select library source" would you rather go for a button?

[2017-12-18 09:46] subsystem7 commented on #53
If it is always true, then this would be fine and we can change it in settings, too. However, I do think it might be a good idea to describe why, unless this is likely to cause trouble. Something like "This selection determines the location of the library that you will connect to. If you are in China, only the library in China will work. You can always change this in settings later."

I have not t

[2017-12-18 16:20] jeffwallman commented on #53
I think the answer to your question Asa is that what you are proposing is a good idea.  Displaying the sequence in the start up.  I believe that the language NT is proposing is good but I do think there needs to be an explanation..  It's not the library source for our users (what do they care). It's the country they are in that is important (to them).  We will need a localized description as you s

[2017-12-18 19:12] subsystem7 commented on #53
@ngawangtrinley I added the necessary text components to the interface text sheet. Please review the English and add Chinese and Tibetan:

https://docs.google.com/spreadsheets/d/1MrPjclaT6mLZipgnjRwCD61UKJcFd77MVhS2a_Ffg1Y

Rock over London, rock on, Chicago.

[2017-12-20 07:44] ngawangtrinley opened #65 "Source not displaying for text."
I also noticed the source of the following one doesn't display under the title for work W1PD96682. The two entries at the bottom of the screenshot.

https://www.tbrc.org/?locale=bo#!rid=O1PD112371%7CO1PD1123714CZ87764%24W1PD96682

![k](https://user-images.githubusercontent.com/17675331/34196398-ef41d98e-e59c-11e7-8674-d31dedfbe50f.jpg)

[2017-12-20 07:48] ngawangtrinley opened #66 "Broken Images display as black in the app"
Two examples:
1. Images load through the work view W20204, but don't from the outline O1LS28611LS2862.
https://www.tbrc.org/?locale=bo#library_work_ViewByOutline-O1LS28611LS2862%7CW20204

2. This one fails:
https://www.tbrc.org/?locale=bo#!rid=O1PD95790%7CO1PD957902DB927102DB927242DB927282DB927322DB927362DB927402DB927442DB927482DB927522DB927612DB927662DB927712DB936602DB937012DB937922DB938172DB9384

[2017-12-20 13:26] jeffwallman commented on #65
NT, I don't understand this issue.

[2017-12-20 13:32] #10 closed

[2017-12-20 13:32] #17 closed

[2017-12-20 13:32] #22 closed

[2017-12-20 13:32] #23 closed

[2017-12-20 13:32] #24 closed

[2017-12-20 13:32] #25 closed

[2017-12-20 13:32] #28 closed

[2017-12-20 13:32] #35 closed

[2017-12-20 13:35] #37 closed

[2017-12-20 13:35] #40 closed

[2017-12-20 13:35] #45 closed

[2017-12-20 13:35] #46 closed

[2017-12-20 13:35] #48 closed

[2017-12-20 13:35] #49 closed

[2017-12-20 13:35] #50 closed

[2017-12-20 13:35] #51 closed

[2017-12-20 13:35] #52 closed

[2017-12-20 13:35] #53 closed

[2017-12-20 13:35] #54 closed

[2017-12-20 13:35] #55 closed

[2017-12-20 13:35] #56 closed

[2017-12-20 13:35] #57 closed

[2017-12-20 13:35] #58 closed

[2017-12-20 13:35] #59 closed

[2017-12-20 13:35] #62 closed

[2017-12-20 13:39] #1 closed

[2017-12-20 13:39] #18 closed

[2017-12-20 14:05] jeffwallman commented on #34
I think this issue is closed.  Can you close it @subsystem7

[2017-12-20 14:06] jeffwallman commented on #33
@eroux is this closed?

[2017-12-20 14:17] eroux commented on #33
I believe so

[2017-12-20 14:17] #33 closed

[2017-12-20 15:20] jeffwallman commented on #66
I don't know the source of this problem.  I can't reproduce the error.  I can load the images from the website - on both the work view and the outline view.  Are there specific search phrases that don't work?

[2017-12-20 15:41] ngawangtrinley commented on #66
The issues happen in the app. The viewing screen is just black, no spinner and no image showing up.

[2017-12-20 15:46] ngawangtrinley commented on #65
@jeffwallman the two titles at the bottom of the image are not works but outlines, and they should appear with the title of their parent just as the other titles above them. Here are the screens when I open them:

![k](https://user-images.githubusercontent.com/17675331/34215336-f71ac90c-e5df-11e7-9545-2e9388709eef.jpg)

![kl](https://user-images.githubusercontent.com/17675331/34215338-fca47cba-e5d

[2017-12-20 18:06] subsystem7 commented on #66
@ngawangtrinley @jeffwallman  The app has no sense of whether an image is broken or not. There are ways for this to be done (they are not perfect) but basically, I am loading images into a javascript gallery. If the image does not exist, like in the example, then it is not displayed. The best solution would be server side. If there is a bad request for an image, I should get an image explaining wh

[2017-12-20 18:10] subsystem7 commented on #65
@ngawangtrinley I don't understand. Is this a data issue?

[2017-12-20 21:16] #34 closed

[2019-07-20 08:52] sonam152 opened #67 "སུམ"

[2021-03-30 07:59] eroux opened #68 ""sub" collection links broken"
When set up on the international mirror and browsing to a collection, the link to the library is broken, NT's example is:

https://library.bdrc.io/scripts/embed-iframe.html?work=bdr:undefined&origin=BDRCLibApp1.2.0&lang=bo-x-ewts&uilang=en

note the `bdr:undefined`

[2021-03-30 08:02] eroux opened #69 "default configuration broken?"
I'm not really sure how to describe @ngawangtrinley 's symptom best, but it seems that after some time the app forgets it's already been configured to a mirror and it goes into a weird default configuration mode where all the configuration variables are undefined, so links go to `undefined/show/bdr...`, etc. then when reconfiguring to a mirror, it redownloads and unpacks everything again

[2021-03-30 08:02] eroux commented on #68
@ngawangtrinley can you describe it better? which steps did you make to produce the bug?

[2021-04-29 14:25] ngawangtrinley commented on #68
![](https://lh4.googleusercontent.com/S2S7p3Y4dpliavgCzx4FouamhfzucAt3_LE3EyG_QAavmAAjLVHED3Wy7iXyd0cEwakZkA8BB49dhVEvQxKvuALDGWUiq2_7DIdhHsQGhyy6TyfFxWKkEhxhBlPH4cJ32ScVQpMQMFg)

[2021-04-29 14:27] eroux commented on #68
https://library.bdrc.io/scripts/embed-iframe.html?work=bdr:MW22084&origin=BDRCLibApp1.2.0&lang=bo-x-ewts&uilang=en

and

https://library.bdrc.io/scripts/embed-iframe.html?work=bdr:W22084&origin=BDRCLibApp1.2.0&lang=bo-x-ewts&uilang=en

are equally valid (so the ID can start with W or MW)

[2021-04-30 13:16] eroux opened #70 "missing shad (།) in the interface"
Here's the screenshot from NT:

![pasted image 0](https://user-images.githubusercontent.com/60868/116700024-96968e00-a9c6-11eb-9821-d2011d5b811c.png)

the problem is that the title is missing a shad (`།`) at the end of the title in the yellow background, it should be `...བདེ་ལེགས་ཞུ།` instead of just `...བདེ་ལེགས་ཞུ`. The shad is in the data, the title is in `workparts/MW29701.json`:

[code]

[2021-04-30 15:35] subsystem7 commented on #68
The app produces this link:
https://library.bdrc.io/scripts/embed-iframe.html?work=bdr:MW22084&origin=BDRCLibApp1.2.0&lang=bo-x-ewts&uilang=en

I get to this link by:

1. search for MW22084
2. select the only result
3. click on the "web" link at the bottom

However, the resulting page is blank.

[2021-04-30 15:42] subsystem7 commented on #68
reproduce by searching for a sub-collection: MW29701_4BEF40

[2021-04-30 15:52] eroux opened #71 "ignoring punctuation when searching"
the search string input by the user should be stripped of its punctuation at the beginning and end, the punctuations are:
- the good old space
- Ux0F0B to Ux0F14 (sometimes several symbols can appear in a row, for instance Ux0F0C+Ux0F0D

[2021-04-30 17:16] eroux opened #72 "copy / paste titles - Select All"
(I don't know much more)

[2021-04-30 19:00] subsystem7 opened #73 "Splash Screen Not Maintaining Aspect Ratio"
Seems that on NT's Android device, the splash screen is not maintaining aspect ratio

[2021-05-04 02:17] ngawangtrinley commented on #73
solved

[2021-05-04 02:38] tadhondup opened #74 "Localization: དྲ་ཚིགས། to དྲ་ཐག"
In English (WEB LINK) Need to replace དྲ་ཚིགས། to དྲ་ཐག in Tibetan

![180693783_797215394561890_8890483515494818020_n](https://user-images.githubusercontent.com/28945342/116954761-6cddaf80-acc3-11eb-9124-431a774fed4e.jpg)

[2021-05-04 02:40] ngawangtrinley commented on #72
Needs to be done for all data. The ability to copy/paste (long press) doesn't interfere with the navigation (single taps). We should also allow it for "search results" and "parts".

Since 90% of the copy/paste use cases will be to copy whole title strings, if possible we should select the whole string by default and let users adjust if needed. 

![](https://user-images.githubusercontent.com/176753

[2021-05-04 02:41] ngawangtrinley commented on #71
solved

[2021-05-04 02:41] ngawangtrinley commented on #68
solved

[2021-05-04 02:44] ngawangtrinley opened #75 "Localization: typo in the loading message"
extra `]`

![](https://user-images.githubusercontent.com/17675331/116955640-b0d1b400-acc5-11eb-8284-d3aa1a75fdd9.png)

[2021-05-04 02:46] ngawangtrinley commented on #70
The same is true for all other titles... Does it mean the data in the latest app is still the old data?

![](https://user-images.githubusercontent.com/17675331/116955697-d959ae00-acc5-11eb-9a23-4db400d57737.png)

[2021-05-04 02:48] tadhondup opened #76 "Reduce space between images"
The gap between images takes up a lot of screen space. Should be reduce to match mobile screens.

![180805747_533925024440329_6834694362255700275_n](https://user-images.githubusercontent.com/28945342/116955698-da8adb00-acc5-11eb-8324-fa2a2b141533.jpg)

![180816111_1663676703828060_1190319471307265633_n](https://user-images.githubusercontent.com/28945342/116955988-b54a9c80-acc6-11eb-9db7-a2ba07d47c

[2021-05-04 02:48] ngawangtrinley opened #77 "misbehaving "go to page" field"
This happens when clicking the arrow in front of the "go to page" filed:

![](https://user-images.githubusercontent.com/17675331/116955753-060dc580-acc6-11eb-956a-9ef1c9957074.png)

[2021-05-04 02:51] ngawangtrinley opened #78 "Navigation inside the IIIF reader"
Parent outline (in grey) not clickable/accessible from within the viewer, is it on purpose? 

![](https://user-images.githubusercontent.com/17675331/116955947-8cc2a280-acc6-11eb-929d-d05ed17478a4.png)

[2021-05-04 02:58] ngawangtrinley opened #79 "Data: append alternative title when titles are duplicated"
Welcome to the Tibetan edition of _Where is Waldo?_

![](https://user-images.githubusercontent.com/17675331/116956155-1d00e780-acc7-11eb-8ba7-cbda12165e09.png)

Duplicate titles have a unique alternative title, these should be added to the search results:

![](https://user-images.githubusercontent.com/17675331/116956254-63eedd00-acc7-11eb-9688-2e46d7f62fdf.png)

[2021-05-04 03:04] tadhondup opened #80 "Reduce font size of page numbers"
The font of this litter is little large here. Reduce a little will be nicer.

![180736391_3958538910907044_3899134209745968809_n](https://user-images.githubusercontent.com/28945342/116956356-b16b4a00-acc7-11eb-9f8d-0213ee16f4cd.jpg)

![179573603_216039066623423_630307213065187246_n](https://user-images.githubusercontent.com/28945342/116956663-630a7b00-acc8-11eb-88d1-bad9fc0bf328.jpg)

[2021-05-04 03:27] ngawangtrinley opened #81 "Display Deep Nodes Correctly"
Parts aren't listed in collections that have collections, but are listed in texts contained within the collections...

Parts of collections are replaced by an `x` ... Or is it something else? Here I'm expecting to see the Parts section as it appears in Tap 2 (see below).

![](https://user-images.githubusercontent.com/17675331/116957068-7e29ba80-acc9-11eb-841d-4e0cd2d22282.png)

Here's my parts sto

[2021-05-04 03:34] tadhondup opened #82 "Localization: update location selection text"
Following text should be updated with: "རྒྱལ་ཁབ་ཅིག་འདེམ།་་་་"

རྒྱལ་ཁབ་ཅིག་འདེམ།
རྒྱ་ནག་ནང་བཀོལ་སྤྱོད་བྱེད་ན་རྒྱ་ནག་ཟེར་བ་དེ་འདེམ། གཞུག་ནས་ཀྱང་འདི་སྒྲིག་འགོད་ནང་འགྱུར་བ་གཏོང་ཐུབ།

![180961177_463413904767810_2900090238764967355_n](https://user-images.githubusercontent.com/28945342/116958140-2e002780-accc-11eb-9a31-a7864de1ef39.jpg)

Please select your location
Select China as your location to vie

[2021-05-04 06:20] eroux commented on #78
I think so yes... are there use cases where accessing the parent would be good?

[2021-05-04 07:12] eroux commented on #70
@subsystem7 what do you think? (my understanding is that the data is correct, that must be a glitch in the interface)

[2021-05-04 07:14] eroux commented on #77
moved to https://github.com/buda-base/public-digital-library/issues/470

[2021-05-04 07:14] #77 closed, assigned to nobody

[2021-05-04 07:15] eroux commented on #80
moved to https://github.com/buda-base/public-digital-library/issues/471

[2021-05-04 07:15] #80 closed, assigned to nobody

[2021-05-04 07:16] eroux commented on #79
this is in the data, not the app, I'll create a tag for these, no action needed from @subsystem7

[2021-05-04 07:17] eroux commented on #78
oh sorry I misunderstood the issue, forget about my question

[2021-05-04 07:24] eroux commented on #78
moved to https://github.com/buda-base/public-digital-library/issues/472, don't hesitate to comment there

[2021-05-04 07:24] #78 closed, assigned to nobody

[2021-05-04 07:24] eroux commented on #76
thanks! moved to https://github.com/buda-base/public-digital-library/issues/471

[2021-05-04 07:24] #76 closed, assigned to nobody

[2021-05-04 07:29] eroux commented on #67
I'm not sure what to do with this, closing

[2021-05-04 07:29] #67 closed, assigned to nobody

[2021-05-04 07:29] eroux commented on #69
@ngawangtrinley this doesn't happen anymore right?

[2021-05-04 07:30] eroux commented on #65
@ngawangtrinley can you test it again? is it still relevant?

[2021-05-04 07:31] #66 closed

[2021-05-04 07:32] eroux commented on #32
is it still relevant @subsystem7 ?

[2021-05-04 07:33] eroux commented on #42
@ngawangtrinley is it still relevant?

[2021-05-04 07:34] eroux commented on #36
@subsystem7 please take this into account when releasing

[2021-05-04 07:34] eroux commented on #27
@subsystem7 has this been implemented?

[2021-05-04 07:35] #20 closed

[2021-05-04 07:38] eroux commented on #12
@subsystem7 I don't know if it's still relevant but you could use these icons (one for the texts and one for the persons):

[icons.zip](https://github.com/buda-base/BDRC-Lib-App/files/6419602/icons.zip)

[2021-05-04 12:05] subsystem7 commented on #70
@eroux This is indeed a data problem in the index file. In workparts-1.json it is listed like this, with no shad:

```"བོད་ལྗོངས་བོད་ལུགས་གསོ་རིག་སློབ་གྲྭ་ཆེན་མོ་བཙུགས་ནས་ལོ་ངོ་བཅུ་འཁོར་བར་བཀྲ་ཤིས་བདེ་ལེགས་ཞུ":["MW29701_4BEF40"]```

in workparts/cc.json I see the shad, but the title is created from the index for reasons of consistency:

 {"t": ["བོད་ལྗོངས་བོད་ལུགས་གསོ་རིག་སློབ་གྲྭ་ཆེན་མོ་བཙུགས་ནས་

[2021-05-04 12:05] #68 closed, assigned to subsystem7

[2021-05-04 12:07] #73 closed, assigned to subsystem7

[2021-05-04 12:07] #71 closed, assigned to subsystem7

[2021-05-04 12:10] subsystem7 commented on #72
@ngawangtrinley I enabled the default select action. It is the "expected" result with interface text. It makes sense to me that the expected behaviour is to select all, however, if I write javascript to select all on tap, then I might be adding a problem with selecting portions of the text. At the very least, this request requires some testing. I believe that we might be better off including a "co

[2021-05-04 12:14] subsystem7 commented on #32
@eroux It may be relevant for increasing speed in the future. The composition problem will need to be addressed/thought through with help from you or someone who really understands the data. This should be for a next release, I believe, as a potential performance optimisation.

[2021-05-04 12:18] eroux commented on #32
ok thanks!

[2021-05-04 13:25] eroux commented on #13
we only have released records in the data now, so closing this one

[2021-05-04 13:25] #13 closed

[2021-05-04 13:46] eroux commented on #70
should be fixed in the latest data, I've updated https://staticfiles.bdrc.io/BDRCLibApp/1.2/current.json and https://staticfiles.bdrc.io/BDRCLibApp/1.2/BDRCLIB.zip

[2021-05-04 13:47] eroux commented on #61
we do have a popularity index now, I suppose we could use it... in the next release

[2021-05-04 13:49] eroux commented on #60
@ngawangtrinley should I restrict to open access works in the database, so that users are never confronted with copyrighted / restricted material? I suppose I should remove the restricted material anyways...

[2021-05-04 13:51] eroux commented on #79
should be fixed in the latest data

[2021-05-04 14:20] eroux commented on #60
it's done actually, closing

[2021-05-04 14:20] #60 closed

[2021-05-05 15:49] eroux opened #83 "back button misbehaving in mirador"
steps to reproduce:
- go to https://library.bdrc.io/show/bdr:W1KG10253
- click on the image to open the viewer (this opens the viewer but doesn't change the URL)
- the back button gets one step too far and goes the page before you went to the original page

[2021-05-05 15:58] eroux opened #84 "etext navigation bug"
steps to reproduce:
- go to https://library.bdrc.io/show/bdr:IE0OPP004308 (in Firefox at least)
- open the first volume in the outline and click on "open etext", it leads to https://library.bdrc.io/show/bdr:UTIE0OPP004308_v001?backToEtext=bdr:IE0OPP004308#open-viewer
- but it doesn't open the etext viewer...

it seems to be a problem in the data as https://purl.bdrc.io/lib/Chunks?R_RES=bdr%3AUTIE0

[2021-05-10 11:55] subsystem7 commented on #72
@eroux and @ngawangtrinley Moving this to next release. This will require more thought that simply setting the select property to all, which works in browsers, but not long touch. I think, perhaps, we may want to add a "copy" icon of sorts with some feedback, and still allow the selection of partial text. Either way, this feature request requires vetting, research, and testing. Moving to next mile

[2021-05-10 11:58] subsystem7 commented on #47
@ngawangtrinley Can you get me some representative screenshots for the app launch?

[2021-05-10 12:00] subsystem7 commented on #42
@ngawangtrinley can you check this out and get me the images I need for the play store?

[2021-05-10 12:05] subsystem7 commented on #82
@tadhondup Is this accurate (please note the removal of "PDF" which was in the original localization:

	pleaseSelectLocation:'རྒྱལ་ཁབ་ཅིག་འདེམ།',
	pleaseSelectLocationDescription:'རྒྱ་ནག་ནང་བཀོལ་སྤྱོད་བྱེད་ན་རྒྱ་ནག་ཟེར་བ་དེ་འདེམ། གཞུག་ནས་ཀྱང་འདི་སྒྲིག་འགོད་ནང་འགྱུར་བ་གཏོང་ཐུབ།',

Thanks,

Asa

[2021-05-10 12:06] subsystem7 commented on #75
This has been fixed in the localizations file.

[2021-05-10 12:06] #75 closed, assigned to subsystem7

[2021-05-10 12:08] subsystem7 commented on #74
changed in localization file

[2021-05-10 12:08] #74 closed, assigned to subsystem7

[2021-05-10 12:31] subsystem7 opened #85 "Print Type Value Substitution"
This is a reference to one question in #81

"Parts of collections are replaced by an x ... Or is it something else? "

![116957068-7e29ba80-acc9-11eb-841d-4e0cd2d22282](https://user-images.githubusercontent.com/1638461/117659742-4f4c9200-b16a-11eb-87c9-7482ab98376f.png)

[2021-05-10 12:32] subsystem7 commented on #85
inside of works/03.json:
`"MW26071": {"pt": "x", "hasParts": true, "pl": "ལྷ་ས།", "pn": "ཞོལ་བཀའ་འགྱུར་པར་ཁང་།", "title": ["བཀའ་འགྱུར ༼ལྷ་ས༽"], "pd": "0194-"}`

The Print Type (aka, pt) has a value of "x"

[2021-05-10 12:33] subsystem7 commented on #85
@ngawangtrinley & @eroux  This is data, not app.

[2021-05-10 12:53] subsystem7 commented on #81
Hi @ngawangtrinley and @eroux I do not understand why
**MW26071_0001** is a work part of **MW26071_S0001** which is a part of **MW26071_0001**. This seems like a circular reference. Either way, the reason that the node at the end here has no parts is because it actually has no parts in the index files.  Maybe you guys can help me understand the data here, and maybe this is simply a limitation of t

[2021-05-14 12:32] eroux commented on #85
Ah, actually this is a feature of the data to keep a bit of space, the values are:
- `x` = `Woodblock` / `ཤིང་པར།` / `雕版`
- `m` = `Manuscript` / `བྲིས་མ།` / `写本`
- `mo` = `Modern print` / `??` / `??` (@ngawangtrinley could you help with that? maybe `རྩིས་འཁོར་ནང་དུ་འཇུག་པ།` / `电脑输入`)
- `l` = `Xerography` / `པར་སློག` / `静电复印`

@subsystem7 can we make the app substitute these values?

[2021-05-14 12:34] eroux commented on #84
oops, wrong repo, moved to https://github.com/buda-base/public-digital-library/issues/483

[2021-05-14 12:34] #84 closed, assigned to eroux

[2021-05-14 12:35] eroux commented on #83
also wrong repo, moved to https://github.com/buda-base/public-digital-library/issues/484

[2021-05-14 12:35] #83 closed, assigned to nobody

[2021-05-17 16:26] eroux opened #86 "number of results in search depends on UI language"
From the librarians, steps to reproduce:
- set the language to "English"
- search "དེབ་ཐེར་དཀར་"
- get 6 results (correct)

![1 Search_Result_English](https://user-images.githubusercontent.com/60868/118523194-32512980-b73d-11eb-81d8-12a6e6165cfd.PNG)

- set the language to Tibetan
- search "དེབ་ཐེར་དཀར་"
- get 16 results (`བཙལ་འབྲས་ ༡༦`, incorect)

![2 Search_Result_Tibetan](https://user-images.gi

[2021-05-17 16:29] eroux opened #87 "adjusting one string"
in this screenshot, `Work RID` should be `Version RID` instead:

![3 Print Type issue](https://user-images.githubusercontent.com/60868/118523840-d509a800-b73d-11eb-99f4-3c74376b3633.PNG)

[2021-05-17 16:32] eroux opened #88 "allowing scan RID to be used in the search"
Since it's possible to search by RID and since many people are more used to the `W` RIDs than the `MW` ones, let's allow users to search by scan RID by hacking a little adjustment:
- if a user searched a string that starts with `W`, search `M`+the string, for instance if a user searches `W22084`, the app should return results for `MW22084` instead

[2021-05-17 16:42] subsystem7 commented on #88
I may look into adding the "M" in the search field while the user types. This would serve to train new behaviour, and not require a search / caching hack, where I maintain multiple realities.

[2021-05-17 16:53] eroux commented on #88
ah good idea!

[2021-05-17 17:03] eroux commented on #87
should be done

[2021-05-17 17:50] subsystem7 commented on #36
Need to know which title, @ngawangtrinley

[2021-05-17 18:07] subsystem7 commented on #86
Please check this table generated by the num conversion function that is now in place

[test_tib_nums.pdf](https://github.com/buda-base/BDRC-Lib-App/files/6495951/test_tib_nums.pdf)

[2021-05-17 18:09] eroux commented on #86
looks good, thanks!

[2021-05-18 18:50] JannTibetan opened #89 "Problem with search record for items in an outline"
I searched on Atisha ཨ་ཏི་ཤ་
![IMG_4612](https://user-images.githubusercontent.com/44705185/118706110-fd011600-b7e6-11eb-86af-ac09401afca8.PNG)

The search results included many outline nodes that include the string ཨ་ཏི་ཤ་
![IMG_4614](https://user-images.githubusercontent.com/44705185/118706273-2de14b00-b7e7-11eb-8820-2e51ee180ca6.jpg)

These search results look pretty good to me. I encounter a p

[2021-05-18 18:56] JannTibetan opened #90 "Add "clear" search button, standard material design "X""
At present the only way to start a new search is by manually deleting the previous search string. Can the BDRC Lib header function as a "new search" button?
![image](https://user-images.githubusercontent.com/44705185/118707878-0e4b2200-b7e9-11eb-97d3-cd79926edcc7.jpeg)

[2021-05-18 19:07] JannTibetan opened #91 "Inconsistent results on person names"
I wanted to find the person record for ཨ་ཏི་ཤ་ P3379
The search on ཨ་ཏི་ཤ་ did not yield the desired record even though this name does appear in his person record.
![image](https://user-images.githubusercontent.com/44705185/118709212-b2819880-b7ea-11eb-9c60-5332c4a131d8.jpeg)
However searching on another of his names does yield the correct record.
![image](https://user-images.githubusercontent.com

[2021-05-18 19:25] JannTibetan opened #92 "“Print Type” in metadata for texts"
Perhaps we don't need this rubric for the mobile app.
![image](https://user-images.githubusercontent.com/44705185/118710937-f5447000-b7ec-11eb-8a35-18a349559ccc.jpeg)

[2021-05-18 19:32] JannTibetan opened #93 "Web Link options"
"Open in Safari" would be nice to have as an option. As it works now this function is for sending/posting the web link, not for opening web page for the given record. ![image](https://user-images.githubusercontent.com/44705185/118712053-4f920080-b7ee-11eb-91aa-4df8071b6194.jpeg)

[2021-05-18 19:52] subsystem7 commented on #92
@JannTibetan  already made the change to map the print type in all three languages, please see: https://github.com/buda-base/BDRC-Lib-App/issues/85

[2021-05-18 19:52] #92 closed, assigned to nobody

[2021-05-18 19:54] subsystem7 commented on #90
@JannTibetan the standard approach is an "x" in the search box to clear the value out.  We originally excluded this since it does not translate in meaning in Tibetan and Chinese. Maybe a "clear" button in all three languages could fit?

[2021-05-18 19:59] subsystem7 commented on #93
@JannTibetan I will look into this.

[2021-05-18 20:00] subsystem7 commented on #91
@JannTibetan @ngawangtrinley I may need some help navigating the data on this to see where and how the match is being made.  @eroux does this look like a data issue?

[2021-05-18 20:01] subsystem7 commented on #89
@JannTibetan  @eroux I will need help understanding the data specifics. My guess is that this is an index/data issue.

[2021-05-18 21:07] JannTibetan commented on #91
@subsystem7 the two search strings are ཨ་ཏི་ཤ་ and མར་མེད་མཛད་ They are variants names of [P3379](http://purl.bdrc.io/resource/P3379)

[2021-05-18 21:11] JannTibetan commented on #90
@subsystem7 A "clear" button is a great solution (more self-explanatory than turning the app name into a button).

[2021-05-18 21:22] JannTibetan opened #94 "acknowledge scope of data in search help message"
I searched on every number between P3450-P3459 and only 2 records came up on the app (P3456 and P3458). On the website there are person records for all of these numbers.

[2021-05-19 08:05] eroux commented on #91
@subsystem7 this looks like a bug in the search, as `persons-0.json` contains

[code]

so there should be a match (ignoring the punctuation according to https://github.com/buda-base/BDRC-Lib-App/issues/71 )

[2021-05-19 08:07] eroux commented on #94
This is a feature in the data, we only import authors in the app, not all persons. The App doesn't have as much data as the website (no places, no work/instance, no non-authors, no copyrighted or restricted works, etc.), by design... I think it's a little too late in the process to change that but we can think of it for the next release... would that be ok @JannTibetan ?

[2021-05-19 08:11] eroux commented on #92
to give a bit more context: the print type is in the data because initially the app was supposed to help the people on the field looking if we already had the books they were looking at without the need to go online. So if they see a xylo and we only have a manuscript or mondern print they would know it's interesting. It seems this is not really the main use case anymore, but I'm thinking it could

[2021-05-19 08:21] eroux commented on #89
@subsystem7 this is in the app but it should be easy to fix. What happens (I think) is that the app gets the data about `MW1KG14557_DC50D3` in `workparts/74.json`, which reads

[code]

that has no subnodes (`"n":[...]`). In that case the app shouldn't display any "Parts", since the node doesn't have subnodes. I think it looks at `"MW1KG14557"` in  `workparts/74.json` which does have all these subp

[2021-05-19 10:20] JannTibetan commented on #94
This is perfectly fine with me. I understand why you made this choice. I think we can make the text on the landing page a little more explicit about the fact that this app gives access to the full set of bibliographic data (texts and authors) but, for reasons of app size and UX, does not include much of the rest of the BDRC database.

[2021-05-19 11:25] eroux commented on #94
ah yes, good idea! The current text says

[code]

what would be a good wording to acknowledge the limited scope of the data?

[2021-05-19 11:45] eroux commented on #91
sorry, I didn't take the right data, this is a data problem, I'll create a new release tomorrow

[2021-05-19 14:15] eroux commented on #81
@subsystem7 I'm looking at `03.json` and I can see that `MW26071_0001` is a part of `MW26071_S0001` as indicated here:

[code]

but I can't find an indication that `MW26071_S0001` is a part of `MW26071_0001`. Where did you find that information?

[2021-05-20 14:40] eroux commented on #91
I've updated the data, perhaps this would be an opportunity to test the data update system?

[2021-05-20 14:41] eroux commented on #81
might be linked to https://github.com/buda-base/BDRC-Lib-App/issues/89

[2021-05-20 14:44] eroux commented on #94
@JannTibetan what about:

[code]

?

[2021-05-20 14:52] JannTibetan commented on #94
Do we need to differentiate between Title and Text? What is the difference, actually?

[2021-05-20 14:57] eroux commented on #94
I think the wording still uses the tbrc.org vocabulary of **work** (here implicit in `Search [work] by title`) vs **text** (in `texts by title`), but yes, this distinction is less strong on BUDA so perhaps

[code]

[2021-05-20 15:04] JannTibetan commented on #94
I added an opening sentence (but it might be too wordy)
The BDRC Lib app provides access to the images and metadata for Tibetan texts in the BDRC archive and the records of their authors. Search text titles such as བཀའ་འགྱུར།, author names such as བུ་སྟོན།, or BDRC IDs such as MW22084. Unicode Tibetan must be used (transliteration is not supported). Only open access texts and only authors (not all

[2021-05-20 15:08] eroux commented on #94
looks good to me, thanks!

[2021-05-20 15:08] JannTibetan commented on #94
*Tibetan script must be used -- all iPhone keyboards are unicode so let's specify Tibetan script (I think more people know what that means anyway)

[2021-05-21 12:05] ngawangtrinley commented on #93
That's an interesting one. We actually edited the Tibetan to "share web link", after assuming that the default viewer was the app itself. @subsystem7 what is the original intention of that feature: to open the IIIF reader in a browser or to share it? Either way is fine, we'll update the Tibetan accordingly

[2021-05-22 08:44] ngawangtrinley commented on #36
@JannTibetan do we have a final decision regarding the name in English? 

*   [ ] BDRC Lib
*   [ ] BDRC Library
*   [x] BDRC Mobile
*   [ ] Buda Library
*   [ ] Buda
*   [ ] BDRC

The Tibetan should follow what is decided for the international name.

[2021-05-22 09:14] eroux commented on #36
I like

BDRC Mobile

It makes the scope clearer (it's a subset for mobile, not the whole thing)

[2021-05-24 16:03] ngawangtrinley commented on #36
Jann also prefers that, so BDRC Mobile it is!

[2021-05-25 11:23] subsystem7 commented on #36
@ngawangtrinley I will need translations for "BDRC Mobile" in Chinese and Tibetan

[2021-05-25 11:30] subsystem7 commented on #90
@ngawangtrinley need "clear" for Tib and Chinese - or equivalent. If users would understand an "x" in the search box as a clear tap target, then I can add that. Please advise.

[2021-05-25 11:38] subsystem7 commented on #93
@ngawangtrinley I don't remember the original intention. It has become a copy/paste function. It was originally called "Share" as it was set up to take advantage of social sharing platforms (facebook, or whatever was set up on your phone etc...). I am not even sure if I can add the web browser to this button. I may need to look into a different plugin.  We should discuss the specific desires/needs

[2021-05-25 14:10] ngawangtrinley commented on #93
View in app viewer:

![](https://user-images.githubusercontent.com/17675331/119513111-834cc780-bda6-11eb-8427-47b69a3398dc.png)

View in browser openned with link:

![](https://user-images.githubusercontent.com/17675331/119513616-f5251100-bda6-11eb-9705-648567701329.png)

[2021-05-25 14:39] subsystem7 commented on #81
![image](https://user-images.githubusercontent.com/1638461/119517219-6d5aea80-bd45-11eb-9bfa-74ca120ed0d1.png)

This should link to a node that is two levels in. Need to create a method for getting to the proper node, and also providing navigation to the parent node.

[2021-05-25 14:42] ngawangtrinley commented on #90
![](https://user-images.githubusercontent.com/17675331/119517785-7fbb3f80-bdaa-11eb-9075-1e9164fa3291.png)

[2021-05-25 14:47] subsystem7 commented on #89
duplicate of #81

[2021-05-25 14:47] #89 closed, assigned to nobody

[2021-05-25 15:33] eroux commented on #81
@subsystem7 `MW23703_4464` is a good example of something that's at the end of a very big tree

[2021-06-03 13:45] subsystem7 commented on #93
@JannTibetan we determined that this link should simply be changed to "Share" - right?

[2021-06-03 14:35] JannTibetan commented on #93
Hi @subsystem7 please make it "Share". I think that's a good function to have. I suggested the open in browser just as a "nice to have" but agree with NT that the app's viewer is sufficient. Thanks

[2021-06-07 14:10] subsystem7 opened #95 "Work Detail Shows Work Parts"
If available, load the workpart file and display the first level.

example from a work entry of 'hasParts':
[code]

[2021-06-07 14:18] subsystem7 opened #96 "Translate: "Parent Work Part""

[2021-06-07 15:42] subsystem7 commented on #36
![image](https://user-images.githubusercontent.com/1638461/121049113-6e4c3d00-c785-11eb-853c-396ce45fce1d.png)
![image](https://user-images.githubusercontent.com/1638461/121049152-773d0e80-c785-11eb-9d63-447491c75922.png)

[2021-06-07 20:57] subsystem7 commented on #36
![image](https://user-images.githubusercontent.com/1638461/121086528-44a90b00-c7b1-11eb-87f0-6670a41495ae.png)
![image](https://user-images.githubusercontent.com/1638461/121086601-5d192580-c7b1-11eb-86ed-0636a9c5fb57.png)
![image](https://user-images.githubusercontent.com/1638461/121086676-7326e600-c7b1-11eb-87e2-c90f6d1e3640.png)

[2021-06-07 20:59] subsystem7 commented on #36
@JannTibetan Looks like we get "BDRC Mo..." on android and "BDRC Mobile" on iOS (see screenshots above). Please let me know if this is satisfactory.

[2021-06-16 10:04] subsystem7 commented on #93
@ngawangtrinley and @eroux would you make sure that the Strings file has three versions of "Share"?

[2021-06-16 11:35] JannTibetan commented on #36
Sorry for the late reply.
To me this is fine and I'd like to go ahead with the rename. iOS displays the full name very nicely and android users must be comfortable with truncated names since even some Google apps such as Play Movies have truncated names.

[2021-06-16 11:45] ngawangtrinley commented on #96
དབྱེ་གཞིའི་ས་བཅད།

[2021-06-16 14:06] ngawangtrinley commented on #93
བརྒྱུད་སྐུར། in Tibetan

[2021-06-16 14:48] ngawangtrinley commented on #94
During the last iteration we tested the app with users and the majority agreed on the fact they prefer not having that information. What they could understand without explanations from that text blob was that they should type text names or author names. That is displayed in the search bar. A case of localization vs translation.

![](https://user-images.githubusercontent.com/17675331/122240880-afb2

[2021-06-16 14:51] ngawangtrinley commented on #69
Do you still need more details on that one?

[2021-06-16 14:56] ngawangtrinley commented on #65
Well spotted! it's actually worse in this version! I believe it's not a data issue since none of the entries correct in the last version aren't displayed properly this time. 

![](https://user-images.githubusercontent.com/17675331/122242107-a249ff80-cef5-11eb-9e73-0fcdbdd39e0b.png)

[2021-06-16 14:57] eroux commented on #69
if it still happens yes, if it doesn't then we can close the issue

[2021-06-16 15:06] ngawangtrinley commented on #36
@JannTibetan and @Dechen1 what do you think of:

*   [ ] ལག་ཁྱེར་དཔེ་མཛོད།
*    [ ]  ལག་ཁྱེར་དཔེ་མཛོད།
*   [ ] ཁྱེར་བདེའི་དཔེ་མཛོད།? (We've called pen-drive DLDs ཁྱེར་བདེའི་ཡིག་མཛོད།)
*  [x] ལག་བཅངས་དཔེ་མཛོད།

These two are what my team could come up with. Any suggestion from you or the librarians is welcome.

We actually would like to recycle the name དཔེ་ཀློག་མཉེན་ཆས། for the "Reading Apps" we'l

[2021-06-16 15:18] ngawangtrinley commented on #47
I guess we need to take brand new screenshots once the renaming is done

[2021-06-16 15:22] eroux commented on #65
Indeed, when searching on BUDA it looks like

https://library.bdrc.io/search?q=%22bkra%20shis%20chen%20po%27i%20mdo%22~1&lg=bo-x-ewts&t=Instance&f=asset,inc,tmp:hasOpen&uilang=bo

the most relevant thing for this issue is the indication of the collection the text is in, like for the first result:

[code]

the second line being the edition of the Canon where the text is. Continuing in that example,

[2021-06-16 17:23] subsystem7 commented on #96
@ngawangtrinley chinese?

[2021-06-17 06:45] ngawangtrinley commented on #42
![](https://user-images.githubusercontent.com/17675331/122345624-a53b0380-cf7a-11eb-8603-4810e1dc810b.jpg)

![](https://user-images.githubusercontent.com/17675331/122345625-a53b0380-cf7a-11eb-93da-f63721bdf2e8.jpg)

[2021-06-17 06:58] eroux commented on #42
The second one doesn't have the right logo (other than that it looks good!)

[2021-06-17 21:14] Dechen1 commented on #36
We voted for
ལག་བཅངས་དཔེ་མཛོད།(Tibetan tranlsation)
BDRC掌中書庫(Chinese translation)

[2021-06-18 07:12] ngawangtrinley commented on #42
Right, it's the same on the iphone side.

[2021-06-22 02:59] ngawangtrinley commented on #65
The old issue isn't the same as the current issue. The old issue is that some collection names weren't displayed, and the current one is that this feature disappeared all together.

The name of the collection used to appear under each entry. So you already have the code to get and display this information. It's just a question of getting it to work again.

[2021-06-22 09:06] eroux commented on #65
well it used to work in the old version of the app, that's for sure. I can't say if it ever worked in the new one with the new format...

[2021-06-28 12:05] subsystem7 commented on #65
Assuming I understand this -->

The new index design does not facilitate this data. We can discuss possible solutions to this, but the data no longer exists and the handling was factored out in this version starting from the beginning.  I can do an additional search for each result that merits it, but that is complicated and I believe would have serious performance implications. I could also figur

[2021-06-28 12:21] eroux commented on #65
ok, let me see how the data size changes if we put this in every entry of the `workpart-xxx.json` files. An alternative could be the following: since there are only ~2,000 possible values, what about a `rinames.json` that would just contain the names of these 2,000 entries, in a very basic way such as:

[code]

I think that shouldn't impact performance and also won't bloat the index. wdyt?

[2021-06-28 12:30] subsystem7 commented on #65
The rinames approach is similar to what we used to do to solve this very problem. It is a better solution. I’ll look at the old code and see how I did the caching in the past. It is possible that I can simply ready it into memory as a lookup when the app launches - or something like that.

[2021-06-28 12:40] eroux commented on #65
I think that could work yes! I'm generating one right now so that we can test in real conditions

[2021-06-28 13:49] subsystem7 commented on #65
That sounds great, I will not have anything ready for 10 am

[2021-06-28 13:51] eroux commented on #65
me neither, the file is generating and it takes a bit more time than I anticipated

[2021-06-28 13:59] subsystem7 commented on #65
inside of old Database,js

[code]

inside of the old DatabaseResult.js
[code]

and in the database contructor:

[code]

[2021-07-19 15:17] #96 closed, assigned to eroux, ngawangtrinley

[2021-07-19 15:18] #94 closed, assigned to eroux, ngawangtrinley

[2021-07-19 15:19] #36 closed

[2021-08-09 16:50] #65 closed

[2021-08-09 16:50] #93 closed, assigned to eroux, ngawangtrinley

[2021-08-09 16:50] #95 closed, assigned to subsystem7

[2021-08-09 16:50] #81 closed, assigned to subsystem7

[2021-08-09 16:50] #90 closed, assigned to subsystem7

[2021-08-09 16:50] #70 closed, assigned to eroux

[2021-08-09 16:50] #88 closed, assigned to subsystem7

[2021-08-09 16:50] #85 closed, assigned to eroux, subsystem7

[2021-08-09 16:50] #87 closed, assigned to subsystem7

[2021-08-09 16:50] #79 closed, assigned to eroux

[2021-08-09 16:50] #86 closed, assigned to subsystem7

[2021-08-09 16:50] #91 closed, assigned to nobody

[2021-08-09 16:50] #82 closed, assigned to subsystem7

[2021-08-10 15:04] subsystem7 opened #97 "Description for launch"
Buddhist Digital Resource Center applies the transformative power of technology to advance the preservation and accessibility of Buddhist literature. BDRC Lib provides mobile access to the complete BDRC Library operating at tbrc.org.

BDRC Lib works offline to search thousands of titles in the library. Included are titles of independently published works, as well as titles that have been included

[2021-08-10 15:13] eroux commented on #97
Here's an attempt:

(I guess we shouldn't put a link to our website if we want the description to be PRC-friendly?)

I have to admit this new description isn't sexy at all...

[2021-08-17 00:00] #97 closed, assigned to nobody

[2021-08-17 00:00] #42 closed

[2021-08-17 00:00] #47 closed

[2022-06-10 14:55] eroux opened #98 "changing URL of Chinese mirror"
it appears that the ZJU mirror will no longer be available for the app, so the app stopped working for people in China. We should remedy this by publishing a new version of the app with the URL for the Chinese database ([link to file](https://github.com/buda-base/BDRC-Lib-App/blob/update-to-typescript/src/data/interfaces/I_MirrorSite.ts#L40)) changed to `https://staticfiles.bdrc.io/BDRCLibApp-CN/1

[2022-06-10 15:20] eroux commented on #98
ok, the URL now works and links to the desire database file: `https://staticfiles.bdrc.io/BDRCLibApp-CN/1.2/current.json`

[2022-06-13 13:35] eroux opened #99 "make buttons' buttonness more clear"
In views like this:

![1655125542155](https://user-images.githubusercontent.com/60868/173365548-a65e18f7-481b-4dcf-bb54-d84caedfe1d1.JPEG)

the two buttons at the bottom don't really look like buttons, a little but of css and / or icons would help users understand these are clickable

[2022-06-13 13:37] eroux opened #100 "integrate auth0 login mechanism"
Login is now required as part of initial setup, and any time a refresh token cannot be used to fetch an auth token. There will be a logout button added to the app, which will result in being returned to the login panel.

- [ ] login panel
- [ ] keep track of token, and refresh when required
- [ ] handle API failures as elegantly as possible when the token is required
- [ ] logout mechanism

There

[2022-06-13 13:41] eroux opened #101 "indicate availability status in the database"
there should be a new field for work records in the database, the new field would be named `"av"` in the json and would have two possible values:
- `"ia"`: the work is available for borrowing on IA
- `"none"`: the work is not available
- `"nopdf"`: the work is available only for viewing and there is no PDF download available (this would be the case for the works we have in IIIF)

if the value is a

[2022-06-13 13:45] eroux opened #102 "links to IA in the app"
depends on #101

When a work is available only on IA, opening the BDRC image reader is a bit counter-productive. In that case there should be an "Borrow on Internet Archive" button that directs to the record on IA, and no mechanism to download PDF or view the images of BDRC. Note that in that case a few sample images are available from BDRC and could be used as preview / thumbnail

The URL for the

[2022-06-13 13:47] subsystem7 opened #103 "Add icons to the VIEW and SHARE links"

[2022-06-13 13:47] subsystem7 opened #104 "Change the Chinese Mirror"

[2022-06-13 13:48] eroux commented on #102
for work parts things could be a little bit more complex since it's a better user experience to direct users to the first page of the part they're interested in instead of the whole record. See https://github.com/buda-base/public-digital-library/issues/684 for how the URLs are constructed. This would require more information in the database though (start volume ID, start image number), so we shoul

[2022-06-13 13:49] eroux commented on #103
duplicate of https://github.com/buda-base/BDRC-Lib-App/issues/99

[2022-06-13 13:49] eroux commented on #104
duplicate of https://github.com/buda-base/BDRC-Lib-App/issues/98

[2022-06-13 13:52] eroux opened #105 "image preview inside the app"
# Tasks

- [ ] Show an image preview in the search results
- [ ] Show an image preview inside the work and workpart detail
- [ ] On click, open a lightbox allowing zoom and pan of a larger image

# thumbnail & Preview

https://iiif.bdrc.io/bdr:W8CZ40::thumbnail/full/!2000,195/0/default.dflt

in search results, fit into a box that is always the same hight, using black for any empty space in order t

[2022-06-13 14:02] eroux opened #106 "PDF download from the app"
In work and workpart detail pages add "PDF DOWNLOADS" button that loads a panel with a list of available downloads. Once a user clicks on an item from the list, a spinner with progress is presented. Once the PDF is generated, it is either immediately downloaded (if possible) or a link to download the generated PDF is provided)

Requirements:

- An endpoint based on RID that returns a number of lin

[2022-06-13 15:51] berger-n commented on #106
here it is, in mirador, with almost everything in one file: https://github.com/buda-base/mirador/blob/2.7.0-bdrc/js/src/utils/utils.js#L347-L481

this function is called here: https://github.com/buda-base/mirador/blob/2.7.0-bdrc/js/src/workspaces/window.js#L357

note that as [documentation](https://github.com/buda-base/buda-iiif-server/blob/master/API.md#pdf--zip-download) says (though it's not in

[2022-07-15 12:48] subsystem7 commented on #104
duplicate

[2022-07-15 12:48] #104 closed, assigned to subsystem7

[2022-07-15 12:48] #103 closed, assigned to subsystem7

[2022-07-15 13:34] subsystem7 commented on #99
![Image](https://user-images.githubusercontent.com/1638461/179233499-3b43f6b0-4d83-499c-8874-3dc73365c008.png)

![Image](https://user-images.githubusercontent.com/1638461/179233670-b0e7953e-bea0-455b-a160-c11ecdc7979f.png)

![Image](https://user-images.githubusercontent.com/1638461/179233720-74b5c1e7-2161-4aae-8e89-31c39bcda368.png)

[2022-07-15 13:36] eroux commented on #99
well, that's clearer for sure!

[2022-08-19 08:05] eroux opened #107 "PDF Download acting strangely"
Here's a video that shows a user downloading a PDF from the app but failing: http://eroux.fr/BDRC.mp4%201.mp4

the page the app goes to is https://library.bdrc.io/scripts/embed-iframe.html?work=bdr:W3CN3039&lang=bo-x-ewts&uilang=en&origin=BDRCLibApp1.2.0

and then the PDF download link should be https://iiif.bdrc.io/download/file/pdf/bdr:I3CN3519:1-52 (which won't be active before it's generated i

[2022-08-29 13:10] #99 closed, assigned to subsystem7

[2022-08-29 13:10] #98 closed, assigned to subsystem7

[2022-09-06 19:22] subsystem7 opened #108 "Integrate Availability Status"
blocked by #101

Add "av" field to WorkJSON with the following values and effects:

| Value | Description |
| --- | --- |
| o | This represents normal state |
| n | This indicates that the work has no PDF available, and therefore the "Available Downloads" feature is hidden. |
| ia | This indicates that the work is available through the Internet Archive (archive.org). VIEW and Available Downloads s

[2022-09-06 19:29] subsystem7 commented on #105
Original request:

[2022-09-06 19:45] subsystem7 opened #109 "Connection Health Check"
Add a panel (before downloading the library, and after the selection of the mirror) that tests the Internet and the connection to the mirror providing feedback so that users know whether they will be able to use a mirror.

[2022-11-03 09:22] eroux opened #110 "integrate tify?"
The mobile-friendly [tify](https://github.com/tify-iiif-viewer/tify) iiif image viewer [recently added](https://github.com/tify-iiif-viewer/tify/issues/44) collection viewing ([demo](https://tify.rocks/?manifest=https%3A%2F%2Fiiif.wellcomecollection.org%2Fpresentation%2Fv2%2Fb19974760&tify=%7B%22view%22%3A%22collection%22%7D))

Perhaps it's something we might want to integrate in the app, or perha

[2022-11-03 10:05] subsystem7 commented on #110
This looks very promising!On Nov 3, 2022, at 5:22 AM, Elie Roux ***@***.***> wrote:﻿
The mobile-friendly tify iiif image viewer recently added collection viewing (demo)
Perhaps it's something we might want to integrate in the app, or perhaps implement in the existing iframe

—Reply to this email directly, view it on GitHub, or unsubscribe.You are receiving this because you are subscribed to this t

[2022-11-05 19:51] t11r commented on #110
Hi there, maintainer of TIFY here. Glad you are considering using TIFY, as I used some of the manifests from BUDA for testing, which are among the largest collections that I could find. Should there be any issues or recommendations concerning your use case, [please let us know](https://github.com/tify-iiif-viewer/tify/issues).

[2022-11-06 10:39] eroux commented on #110
@t11r thanks a lot for your message, this is really generous of yours! I've left a few comments in the issue tracker, generally speaking I don't think there's anything blocking but we'll test further and will report any issue we spot

[2022-11-06 10:52] eroux commented on #110
@ngawangtrinley  what do you think? It seems to have a lot of potential, can you give it a try? If we adopt it we'll have to provide Tibetan and Chinese translations but there aren't a lot of string so it should be fast (see [here](https://github.com/tify-iiif-viewer/tify/tree/main/dist/translations))

@berger-n can you think of other features we added to mirador2 that should be added to tify? The

[2022-11-07 16:26] ngawangtrinley commented on #110
Tify looks really good! The localization won't be an issue, but we should keep the reading view!

The most important will be the basic book reading experience. BDRC Mobile users really like the "reading view" with the infinite scrolling which is well suited for the pecha layout and which can be scrolled by swiping anywhere on the screen.
<img width="250" alt="Documentation" src="https://user-image

[2022-11-07 17:17] t11r commented on #110
Sorry to dash your hopes, but while I admit this would be a very nice feature, I don’t see it happening anytime soon.